<nb-card>
	<nb-card-header>{{ this.frontendFile.id ? 'Editar Arquivo' : 'Novo Arquivo'}}</nb-card-header>

	<nb-card-body>
		
		<form [formGroup]="form" (ngSubmit)="onSubmit()" [formValidation]="form">


			<input type="text" class="form-control" placeholder="ID" [formControl]="form.get('id')" style="display: none;" />

			<div class="row">
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="name" class="form-control-label">Nome</label>
						<input type="text" class="form-control" placeholder="Nome" name="name" [formControl]="form.get('name')" />
					</div>
					<div validationMessages="name">
	                    <small class="form-text error" validationType="required">Nome é obrigatório</small>
	                    <small class="form-text error" validationType="minlength">Nome Inválido</small>
	                </div>
				</div><!--col-->
			</div><!--row-->
			<div class="row">
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="file" class="form-control-label">Arquivo</label>
						<input type="hidden" class="form-control" placeholder="file" name="file" [formControl]="form.get('file')" />
						<input name="file" type="file" (change)="onFileChange($event)">
					</div>
					<div validationMessages="file">
	                    <small class="form-text error" validationType="required">Arquivo é Obrigatorio</small>
	                   
	                </div>
				</div><!--col-->
			</div><!--row-->
			
			<div class="row">
				<div class="col-12">
					<button class="btn btn-hero-success btn-block" type="submit" (click)="onSubmit()" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
					<span *ngIf="!submitted">Salvar</span><span *ngIf="submitted">Enviando... <i class="fa fa-spinner fa-pulse"></i></span>
				</button>
				</div>
			</div><!--row-->
		</form>

	</nb-card-body>
</nb-card>