#inscricoes{

}

#inscricoes .container{
  position: relative;
}

.cloud-left{
  background: url("../../../assets/images/inscricoes/cloud_left.png");
  width: 159px;
  height: 106px;
  position: absolute;
  top: 20px;
}



.inscricoes-text1 h2{
  width: 270px;
  height: 30px;
  background: #E94151;
  position: relative;
  margin-top: 85px;
  margin-bottom: 15px;
}

.inscricoes-text1 h2 span{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #2D2691;
  width: 400px;
  line-height: 30px;
  position: absolute;
  top: -23px;
  left: 15px;
}



#inscricoes p{
  color:#333333;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:15px;
  line-height: 21px;
  font-weight: 300;
}

#inscricoes p.pra-que-participar{
  max-width: 370px;
  text-align: justify;
}


#inscricoes p.blue-text{
  color:#2F2F96;
  font-size:17px;
  line-height: 24px;
  font-weight: 500;
  margin-top:30px;
}

#inscricoes .twogirls{
  background: url("../../../assets/images/inscricoes/2girls.png");
  width: 370px;
  height:381px;
  margin-top: 30px;
}

#inscricoes-preform{

}

#inscricoes-preform h3{
  display: block;
  text-align: center;
  font-size: 35px;
  line-height: 42px;
  color:#E94151;
  font-weight: 600;
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom:30px;
}

#inscricoes-preform p{
  text-align: center;
}

#inscricoes-preform p strong{
  font-weight: 500;
}

#inscricoes-form{
  margin-top:30px;
}

#inscricoes-form h4{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color:#E94151;
  text-align: center;
}

#inscricoes-form hr{
  border-top: 2px solid #fff;
}

#inscricoes-form input, #inscricoes-form select,
#inscricoes-form checkbox{
  border: 1px solid #fff;
  border-radius: 0px;
  box-shadow: unset;
  background: #2F2F96;
  color: #fff;
  font-size:15px;
  line-height: 21px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
  padding:7px 15px;
  height: 38px !important;
}

.form-check-label{
  line-height: 42px !important;
}


#inscricoes-form label {
  color: #fff;
  font-size:15px;
  line-height: 21px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
}


#inscricoes-form input::placeholder{
  color:#fff;
}

#inscricoes-form .form-group{
  margin-bottom:10px;
}

#form-agree-box{
  margin-top: 15px;
  text-align: center;
}

#form-agree-box a, #form-agree-box p{
  color: #fff;
  font-size:14px;
  line-height: 21px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
  padding-top: 10px;
  display: inline-block;
}
#form-agree-box a{
  text-decoration: underline;
}

.btn-add-participante{
  display:block;
  margin:5px auto 15px auto;
  background:#6767CE;

  color: #2F2F96;
  font-size:15px;
  line-height: 21px;
  font-weight: 700;
  font-family: 'blogger_sans', Arial, sans-serif;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: unset;
  padding: 7px 15px;
}

.btn-submit {
  border: unset;
  width: 170px;
  background: #43E8A5;
  color: #2F2F96;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 27px;
  display: block;
  margin: 0px auto;
  text-transform: uppercase;
}

.inscricoes .footer{
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  font-style: italic;
  font-family: 'blogger_sans', Arial, sans-serif;
  color:#fff !important;
  text-align: center;
  max-width:275px;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 90px;
}



.btn-upload-terms {
  position: relative;
  overflow: hidden;
  background: #2F2F96;
  color: #fff;
  font-size:15px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border:1px solid #fff;
  width: 100%;
  min-height: 38px;
  line-height: 38px;
  padding: 0px 15px;
  text-align:center;
}
@media  screen and (max-width: 1150px) {
  .btn-upload-terms {
    line-height: 22px;
  } 
}
@media  screen and (max-width: 624px) {
  .btn-upload-terms {
    line-height: 37px;
  } 
}
.btn-upload-terms input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.fileName{
  color: #fff;
  font-size:15px;
  line-height: 21px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
  padding:7px 15px;
}

.participante-template:not(:first-child){
  margin-top:20px;
}

.participante-template:first-child .user-remove{
  display:none;
}

.user-remove{
  position: absolute;
  left: -35px;
  top: -1px;
  width: 25px;
  height: 25px;
  padding: 0px;
  line-height: 21px;
  text-align: center;
  padding-left: 2px;
}

.form-text.error{
  display: block;
  color: #f00;
  padding: 0px;
  position: relative;
  top: -7px;
}


@media  screen and (max-width: 425px) {
  .inscricoes-text1 h2 span{
    width:100%;
  }

  .user-remove{
    top: -30px;
    left: unset;
    right: 15px;
  }
}

