<div id="inscricoes">

	<div class="lighblue-bg">

		<div class="container">

			<div class="cloud-left"></div>
			<div class="row">
				<div class="offset-md-2 col-md-5 inscricoes-text1">
					<h2>
						<span>Por que participar?</span>
					</h2>

					<p class="pra-que-participar">
						A falta de cuidado com o meio ambiente fez com que surgisse uma série de doenças que antes não existiam. Seja um protetor
						da natureza e faça a sua parte no combate às doenças transmitidas por mosquitos!

					</p>

					<p class="blue-text">
						QUEREMOS VOCÊ E SEUS AMIGOS AQUI NESTE MOVIMENTO PARA UM MUNDO MELHOR! DESAFIE-SE! FAÇA UM VÍDEO E PARTICIPE!
					</p>

				</div>

				<div class="twogirls"></div>

			</div>

			<div class="row" id="inscricoes-preform" *ngIf="canSubscribe">
				<div class="col-md-12">
					<h3>Inscrições</h3>
				</div>
				<div class="offset-md-3 col-md-6">
					<p>
						Para participar do Geração Sustentável, é necessário fazer o cadastro do seu grupo. Cada participante precisa enviar o
						<a
						 href="http://geracaosustentavel.myog.io/uploads/frontend_files/modelo_termo-responsabilidade_3Fo7azs.doc" target="_NEW">Termo de Responsabilidade</a> assinado pelo responsável -
							<a href="http://geracaosustentavel.myog.io/uploads/frontend_files/modelo_termo-responsabilidade_3Fo7azs.doc"
							 target="_NEW">clique aqui para baixar o Termo de Responsabilidade</a>. Preencha os campos abaixo e prepare-se para começar essa
							jornada!
							<br>
					</p>
				</div>
			</div>
			<div class="row" id="inscricoes-preform" *ngIf="!canSubscribe">
				<div class="col-md-12" *ngIf="isToEarly">
					<h3>Inscrições não abertas</h3>
				</div>
				<div class="offset-md-3 col-md-6" *ngIf="isToEarly">
					<p>
						Prazo de inscrição é do dia 02/04/18 até 11/05/18
						<br/>
						<br/>
					</p>
				</div>
				<div class="col-md-12" *ngIf="isToLate">
					<h3>Inscrições Encerradas!</h3>
				</div>
				<div class="offset-md-3 col-md-6" *ngIf="isToLate">
					<p>
						Infelizmente as incrições do Geração Sustentavel já se encerraram, aguarde o ano que vem!
						<br/>
						<br/>
					</p>
				</div>
			</div>


		</div>


	</div>

	<div class="blue-bg">

		<div class="container inscricoes">
			<div class="row">
				<div class="offset-md-3 col-md-6" *ngIf="canSubscribe">
					<form id="inscricoes-form" [formGroup]="form" [formValidation]="form" (ngSubmit)="onSubmit()">

						<h4>Grupo</h4>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nome do Grupo *" name="name" formControlName="name">
								</div>
								<div validationMessages="name">
									<small class="form-text error" validationType="required">Nome do Grupo é obrigatório</small>
									<small class="form-text error" validationType="minlength">Nome do Grupo Inválido</small>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control" name="city" formControlName="city">
										<option selected value="null">--- SELECIONAR CIDADE * ---</option>
										<option *ngFor="let city of cities" value="{{city?.id}}">{{city?.name}} - {{city?.state}}</option>
									</select>
								</div>
								<div validationMessages="city">
									<small class="form-text error" validationType="required">Cidade é obrigatório</small>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nome da escola *" name="school" formControlName="school">
								</div>
								<div validationMessages="school">
									<small class="form-text error" validationType="required">Nome da escola é obrigatório</small>
									<small class="form-text error" validationType="minlength" >Nome da escola Inválido</small>
								</div>
							</div>
						</div>

						<hr>
						<h4>Tutor</h4>

						<div id="participantes-box">
							<div class="participante-template" *ngFor="let user of userControls; let i=index;">

								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nome do participante *" name="name" [formControl]="user.get('name')">
										</div>
										<div>
											<small *ngIf="user.get('name').hasError('required') && user.get('name').touched" class="form-text error">Nome do participante é obrigatório</small>
											<small *ngIf="user.get('name').hasError('minlength') && user.get('name').touched && user.get('name').value" class="form-text error">Nome do participante Inválido</small>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Email *" name="email" [formControl]="user.get('email')">
										</div>
										<div>
											<small *ngIf="user.get('email').hasError('required') && user.get('email').touched" class="form-text error">Email é obrigatório</small>
											<small *ngIf="user.get('email').hasError('email') && user.get('email').touched && user.get('email').value" class="form-text error">Email Inválido</small>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Telefone *" name="phone" [formControl]="user.get('phone')" [textMask]="{mask: phoneMask }">
										</div>
										<div>
											<small *ngIf="user.get('phone').hasError('required') && user.get('phone').touched" class="form-text error">Telefone é obrigatório</small>
											<small *ngIf="user.get('phone').hasError('minlength') && user.get('phone').touched && user.get('phone').value" class="form-text error">Telefone Inválido</small>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="RG *" name="rg" [formControl]="user.get('rg')" [textMask]="{mask: rgMask }">
										</div>
										<div>
											<small *ngIf="user.get('rg').hasError('required') && user.get('rg').touched" class="form-text error">RG é obrigatório</small>
											<small *ngIf="user.get('rg').hasError('minlength') && user.get('rg').touched && user.get('rg').value" class="form-text error">RG Inválido</small>
											<small *ngIf="user.get('rg').hasError('maxlength') && user.get('rg').touched && user.get('rg').value" class="form-text error">RG Inválido</small>
										</div>

									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Data de nascimento *" name="birthday" [textMask]="{mask: dateMask }"
											 [formControl]="user.get('birthday')">
										</div>
										<div>
											<small *ngIf="user.get('birthday').hasError('required') && user.get('birthday').touched" class="form-text error">Data de nascimento é obrigatório</small>
											<small *ngIf="user.get('birthday').hasError('minlength') && user.get('birthday').touched && user.get('birthday').value" class="form-text error">Data de nascimento Invalida</small>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="file btn-upload-terms">
											<span>Upload do Termo de Responsabilidade</span>
											<input type="hidden" name="term" [formControl]="user.get('term')" />
											<input type="file" (change)="onFileChange($event,i)" />
										</div>
										<div>
											<small style="top:0;" *ngIf="user.get('term').hasError('required') && user.get('term').touched" class="form-text error">Upload do termo é obrigatório</small>
										</div>
									</div>

									<div class="col-md-6">
										<span class="fileName" *ngIf="this.files[i]!==undefined">
											{{this.files[i].name}}
										</span>
										<span class="fileName" *ngIf="this.files[i]===undefined">
											Nenhum arquivo selecionado
										</span>
									</div>

									<div class="col-md-12">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="" name="gang_leader" [formControl]="user.get('gang_leader')" (change)="onLeaderChange(i)"> É o líder do grupo
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row" id="form-agree-box">
							<div class="col-md-12">
								<p class="regulamento">
									Ao clicar em Enviar, você concorda com nosso
									<a routerLink="/regulamento" target="_blank">
										Regulamento
									</a>
								</p>
							</div>
						</div>
					</form>
					<div class="row" style="display: none">
						<button type="button" class="btn-add-participante" (click)="formCreateUser()">
							Adicionar outro participante
						</button>
					</div>

					<div class="row">
						<button type="submit" class="button btn-submit" (click)="onSubmit()" (disabled)="submitted">
							<span *ngIf="!submitted">Enviar</span>
							<span *ngIf="submitted">Enviando...
								<i class="fa fa-spinner fa-pulse"></i>
							</span>
						</button>
					</div>

					<div class="row">
						<p class="footer">
							
							<br/>
							
						</p>
					</div>

				</div>
			</div>

		</div>

	</div>
</div>