@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  nb-card-header {
    font-size: 2rem;
  }

  nb-card-body {
    font-size: 1.5rem;
  }

  .title {
    font-family: Exo;
    font-weight: 600;
    color: #2a2a2a;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  ng2-smart-table /deep/ tr{
    cursor: pointer;
  }
  .text {
    font-size: 1.5rem;
  }

  .here-now {
    text-align: center;
    font-size: 1.2rem;
  }

  .timeline-fases {
    color: #a4abb3;
  }

  .timeline-fases.Ativo {
    color: #2a2a2a;
  }

  .not-here {
    text-align: center;
    font-size: 1.2rem;
  }

  .phase-name {
    font-weight: 600;
    text-align: center;
  }

  .ng2-smart-filters {
    display: none !important;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}
