<div class="row" *ngIf="groupId != 4; else voterComp">
	<div class="col-md-12">
		<nb-card>
			<nb-card-body>
				<div class="row">
					<div class="col-0 col-md-1 col-xs-1 col-xl-1"></div>
					<div class="col-6 col-md-2 col-xs-2 col-xl-2 timeline-fases {{phase.status}}" *ngFor="let phase of phases">
						<div class="phase-name">
							<a *ngIf="groupId == 2" [routerLink]="['..', 'phaseview']" fragment="phase_{{phase.id}}"> {{phase.name}}</a>
							<a *ngIf="groupId != 2" [routerLink]="['..', 'phases']">{{phase.name}} </a>
						</div>
						<div class="here-now" *ngIf="phase.status == 'Ativo'">
							<i class="fa fa-chevron-up"></i>
							<br/> Estamos Aqui
						</div>
						<div class="not-here" *ngIf="phase.status != 'Ativo'">
							<br/> {{phase.start_date}}
						</div>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-4 col-xl-4" *ngIf="user.is_staff || groupId == 1 || groupId == 3">
		<nb-card>
			<nb-card-header class="title">Grupos</nb-card-header>
			<nb-card-body class="text">
				<span *ngIf="user.is_staff || groupId == 1">
					<strong>{{total_groups}} grupos</strong> cadastrados e <strong>{{active_groups}} estão ativos</strong>
				</span>
				<span *ngIf="groupId == 3">
					<strong>{{total_groups}} grupos</strong> da cidade cadastrados e <strong>{{active_groups}} estão ativos</strong>
				</span>
			</nb-card-body>
		</nb-card>
	</div>
	<div [class.col-md-12]="groupId == 2" [class.col-md-4]="user.is_staff || groupId == 1 || groupId == 3" *ngIf="user.is_staff || groupId !== 4">
		<nb-card *ngIf="current_phase.name">
			<nb-card-header class="title">Final {{current_phase.name}}</nb-card-header>
			<nb-card-body class="text">
				<p>
					<span [innerHtml]="days_remaining"></span> para o fim da {{current_phase.name}} do Projeto</p>
				<p *ngIf="groupId == 2">Fique atento para não perder os prazos!</p>
			</nb-card-body>
		</nb-card>
		<nb-card *ngIf="!current_phase.name">
			<nb-card-header class="title">Aguardando fases</nb-card-header>
			<nb-card-body class="text">
				<p>
					Fique atento
				</p>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-4 col-xl-4" *ngIf="user.is_staff || groupId == 1 || groupId == 3">
		<nb-card>
			<nb-card-header class="title">Status Envio</nb-card-header>
			<nb-card-body class="text" *ngIf="total_deliverables == -1">
				<strong>Nenhuma fase iniciada ainda</strong>
			</nb-card-body>
			<nb-card-body class="text" *ngIf="total_deliverables >= 0">
				<span *ngIf="user.is_staff || groupId == 1">
					<strong>{{total_deliverables}}</strong> dos
					<strong>{{active_groups}}</strong> grupos já enviaram o material
					<br/>da fase atual e estão prontos para avançar
				</span>
				<span *ngIf="groupId == 3">
					<strong>{{total_deliverables}}</strong> dos
					<strong>{{active_groups}}</strong> grupos da cidade já enviaram o material
					<br/>da fase atual e estão prontos para avançar
				</span>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-12 col-xl-12" *ngIf="groupId == 2">
		<nb-card>
			<nb-card-header>
				Mensagens Do Administrador
			</nb-card-header>
			<nb-card-body>
				<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)" (create)="createNewEntryButtonClickListener()"
				 (edit)="editEntryButtonClickListener($event)" (delete)="deleteEntryButtonListener($event)">
				</ng2-smart-table>
			</nb-card-body>
		</nb-card>


	</div>
	<div class="col-md-12 col-xl-12" *ngIf="groupId == 2">
		<nb-card>
			<nb-card-body>Contato:
				<a href="instituto@intercement.com">instituto@intercement.com</a>
			</nb-card-body>
		</nb-card>
	</div>
</div>

<ng-template #voterComp>
	<ngx-videos></ngx-videos>
</ng-template>

<nb-card *ngIf="groupId == 3">
	<nb-card-header>Mensagens Enviadas</nb-card-header>
	<nb-card-body>
		<ng2-smart-table [settings]="settings2" [source]="source2" (userRowSelect)="onUserRowSelect($event)" (create)="createNewEntryButtonClickListener()"
		 (edit)="editEntryButtonClickListener($event)" (delete)="deleteEntryButtonListener($event)">
		</ng2-smart-table>
	</nb-card-body>
</nb-card>