

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
AGENDA
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#agenda{
}

h1.agenda{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size:49px;
  font-weight: 600;
  color:#2F2F96;
  text-align: center;
  width:180px;
  line-height: 58px;
  display:block;
  margin:0 auto;
}

.agenda-board{
  background-image: url("../../../assets/images/agenda/board.png");
  background-repeat: no-repeat;
  background-position: 11px 1px;
  width: 835px;
  height: 735px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;
}

.just-space{
  height:100px;
}

.agenda-board h3{
  color:#E94151;
  font-size:16px;
  font-weight: 700;
  font-family: 'blogger_sans', Arial, sans-serif;
  line-height: 16px;
  margin-bottom: 0px;
}

.agenda-board p{
  color:#333333;
  font-size:16px;
  font-weight: 400;
  font-family: 'blogger_sans', Arial, sans-serif;
  line-height: 16px;
}

.agenda-step{
  position: absolute;
}

.agenda-step1{
  top: 10px;
  left: 103px;
}
.agenda-step2{
  top: 9px;
  left: 470px;
  width: 475px;
}
.agenda-step3{
  top: 188px;
  left: 797px;
  width: 190px;
}
.agenda-step4{
  top: 410px;
  left: 601px;
  width: 275px;
}
.agenda-step5{
  top: 261px;
  left: -64px;
  text-align: right;
  width: 280px;
}
.agenda-step6{
  top: 470px;
  left: 175px;
  width: 422px;
}
.agenda-step7{
  top: 580px;
  left: -60px;
  width: 121px;
  text-align: right;
}
.agenda-step7 p{
  width: 140px;
  text-align: right;
  position: relative;
  right: 20px;
}

.agenda-step8{
  top: 573px;
  left: 197px;
}
.agenda-step8 h3{
  width:100px;
}

.agenda-step9{
  display:none;
  top: 730px;
  left: 376px;
}
.agenda-step9 h3{
  width:120px;
}

.agenda-step10{
  top: 563px;
  left: 468px;
  width: 170px;
}
.agenda-step11{
  top: 729px;
  left: 654px;
}
.agenda-step12{
  top: 572px;
  left: 742px;
}

.agenda-board-box{
  width: 100%;
  overflow: auto;
}

@media  screen and (max-width: 425px) {

  #agenda .container{
    width:100%;
    max-width:100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .agenda-board {
    margin-left: 80px;
  }
}


