<div id="agenda" class="lightgrey-bg">
	<div class="container">
		<h1 class="agenda">
			Agenda
		</h1>

		<div class="agenda-board-box">
			<div class="agenda-board">

				<div class="agenda-step agenda-step1">
					<h3>INSCRIÇÕES</h3>
					<p>
						02/04/18 - 11/05/18
						<Br> Prazo de inscrição dos grupos de jovens
					</p>
				</div>

				<div class="agenda-step agenda-step2">
					<h3>FASE 1</h3>
					<p>
						07/05/18 - 16/05/18
						<Br> Nesse passo vocês irão se conhecer melhor e fortalecer a união do time por meio de alguns jogos e atividades muito
						bacanas.
					</p>
				</div>

				<div class="agenda-step agenda-step3">
					<h3>FASE 2</h3>
					<p>
						17/05/18 - 03/06/18
						<br> Diário de Bordo, Pesquisa e Plano de Ação – Agora é hora de entender mais profundamente o problema e se planejar para
						cumprir todas os passos dentro do prazo.
					</p>
				</div>

				<div class="agenda-step agenda-step4">
					<h3>FASE 3</h3>
					<p>
						04/06/18 - 17/06/18
						<br> Roteiro e Gravação – Chegou a hora de produzir o vídeo! Siga as dicas para criar o roteiro e grave todo o material
						que vocês irão utilizar.
					</p>
				</div>

				<div class="agenda-step agenda-step5">
					<h3>FASE 4</h3>
					<p>
						18/06/18 - 24/06/18
						<br> Hospedagem do vídeo – Hospedá-lo no Youtube ou Vimeo, disponibilizando-o no site do concurso, com seus devidos termos
						de cessão de uso de imagem assinados.
					</p>
				</div>

				<div class="agenda-step agenda-step6">
					<h3>FASE 5</h3>
					<p>
						25/06/18 - 30/06/18
						<br> Apresentação para a comunidade – Hora de compartilhar com a comunidade tudo o que vocês aprenderam, trazendo mais
						adeptos para o movimento.
					</p>
				</div>

				<div class="agenda-step agenda-step7">
					<h3>Julgamento dos resultados do concurso municipal</h3>
					<p>
						01/07/18 - 18/07/18
					</p>
				</div>

				<div class="agenda-step agenda-step8">
					<h3>Premiação no Município</h3>
					<p>
						18/07/18 - 28/07/18
					</p>
				</div>

				<div class="agenda-step agenda-step9">

				</div>

				<div class="agenda-step agenda-step10">
					<h3>Julgamento dos resultados do concurso nacional</h3>
					<p>
						28/07/18 - 04/08/18
					</p>
				</div>

				<div class="agenda-step agenda-step11">
					<h3>Divulgação dos vencedores</h3>
					<p>
						04/08/18 - 14/08/18
					</p>
				</div>

				<div class="agenda-step agenda-step12">
					<h3>Premiação nacional</h3>
					<p>
						2º semestre
					</p>
				</div>
			</div>
			<div class="just-space"></div>
		</div>
	</div>
</div>