<nb-auth-block>
    <h2 class="title">Registro</h2>
    <div class="alert alert-danger" role="alert" *ngIf="error != ''">   
        {{ error }}
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <input name="first_name"  type="text" class="form-control" placeholder="First Name" [formControl]="form.get('first_name')" >
                    <small class="form-text error" *ngIf="form.controls['first_name'].hasError('minlength') && form.controls['first_name'].touched">
                        First name must have at least 4 characters
                    </small>
                    <small class="form-text error" *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched">
                        First Name is required
                    </small>
                </div><!--form-group-->
            </div><!--col-->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <input name="last_name"  type="text" class="form-control" placeholder="Last Name" [formControl]="form.get('last_name')">
                    <small class="form-text error" *ngIf="form.controls['last_name'].hasError('minlength') && form.controls['last_name'].touched">
                        Last name must have at least 4 characters
                    </small>
                    <small class="form-text error" *ngIf="form.controls['last_name'].hasError('required') && form.controls['last_name'].touched"> 
                        Last Name is required
                    </small>
                </div><!--form-group--> 
            </div><!--col-->
 
            <div class="col-12">
                <div class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="Email" pattern=".+@.+\..+" [formControl]="form.get('email')">
                    <small class="form-text error" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
                        Email is required!
                    </small>
                </div><!--form-group-->
            </div><!--col-->
 
            <div class="col-12">
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" [formControl]="form.get('password')">
                    <small class="form-text error" *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched">
                        Your password must have at least 8 characters
                    </small>
                    <small class="form-text error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                        Password is required
                    </small>
                </div><!--form-group-->
            </div><!--col-->
            <div class="col-12">
                <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" [formControl]="form.get('confirm_password')">
                </div><!--form-group-->
            </div><!--col-->


            <div class="form-group col-sm-12">
                <nb-checkbox name="terms" [formControl]="form.get('terms')" >
                    Agree to <a href="{{ privacy_link }}" target="_blank"><strong>Terms &amp; Conditions</strong></a>
                </nb-checkbox>
                <small class="form-text error" *ngIf="form.controls['terms'].hasError('required') && form.controls['terms'].touched">
                    Please accept the Terms &amp; Conditions
                </small>
            </div>
        </div><!--row-->
        <button class="btn btn-block btn-hero-success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
            <span *ngIf="!submitted">Register</span><span *ngIf="submitted">Loading <i class="fa fa-spinner fa-pulse"></i></span>
        </button>
    </form>
    <div class="links">
        <small class="form-text">
            Already have an account? <a routerLink="/auth/login"><strong>Sign in</strong></a>
        </small>
    </div> 
</nb-auth-block>