<nb-card>
	<nb-card-header>{{ this.group.id ? 'Edit Group' : 'New Group'}}</nb-card-header>

	<nb-card-body>
		
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<input type="text" class="form-control" placeholder="ID" [formControl]="form.get('id')" style="display: none;" />

			<div class="row">
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="first_name" class="form-control-label">Name</label>
						<input type="text" class="form-control" placeholder="Name" [formControl]="form.get('name')" />
					</div>
				</div><!--col-->
			</div><!--row-->

			<br><br>

			<div class="row">
				<div class="col-6">
					<h5>Permissions</h5>
				</div><!--col-->
				<div class="col-6">
					<button class="btn btn-primary btn-tn" type="button" (click)="checkAll()">Check All</button>
				</div><!--col-->
			</div><!--row-->
			
			<br>

			<div class="row">
				<div *ngFor="let permission of allPermissions; let i=index;" class="col-4 col-md-3 col-lg-3">
					<nb-checkbox [formControl]="form.get(['permissions', i])" *ngIf="form.get('permissions').length > 0"> {{ permission.name }} </nb-checkbox>
				</div><!--col-->
			</div><!--row-->

			<br><br>

			<div class="row">
				<div class="col-12">
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</div><!--row-->
		</form>

	</nb-card-body>
</nb-card>
