<nb-card>
	<nb-card-header>
		<h3 class="title">Fases</h3>
		<div class="container-btn">
	      	<button class="btn btn-primary btn-round " (click)="createNewEntryButtonClickListener()"><i class="fa fa-plus"></i></button>
	    </div>
	</nb-card-header>
</nb-card>

<nb-card *ngFor="let phase of phases; let i =index;">
	<nb-card-header>


		<div class="header-stats">
			<div class="stats-block">
				<div>
					<span class="value">{{phases[i].name}}</span>

				</div>
				<div class="subtitle">{{phases[i].status}}</div>
			</div>
			<div class="stats-block">
				<div class="subtitle">Data Início</div>
				<div>
					<span class="value">{{printDate(phases[i].start_at)}}</span>

				</div>
			</div>

			<div class="stats-block">
				<div class="subtitle">Data Término</div>
				<div>
					<span class="value">{{printDate(phases[i].end_at)}}</span>

				</div>
			</div>

		</div>
		<div class="container-btn">
			<button class="btn btn-primary btn-warning" (click)="editEntryButtonClickListener(phases[i].id)"><i class="fa fa-edit"></i></button>
		</div>
	</nb-card-header>

	<nb-card-body *ngIf="phases[i].source">
		<ng2-smart-table
			[settings]="settings"
			[source]="phases[i].source"
      		(userRowSelect)="onUserRowSelect($event)"
			(create)="createNewEntryButtonClickListener()"
			(edit)="editEntryButtonClickListener($event)"
			(delete)="deleteEntryButtonListener($event)">
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
