@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~@nebular/theme/components/card/card.component.theme';

@include nb-install-component() {
	
	.control-label{
		
    }
    .title{
    	float:left;
    }
    .container-btn{
    	float:right;
    }
    .header-stats {
   		float:left;
		display: flex;
		align-items: center;
	}
	.table-header {
		@include nb-card-header();
		font-size: 1.25rem;

		.subtitle {
			color: nb-theme(color-fg);
			font-family: nb-theme(font-main);
			font-size: 1rem;
			font-weight: nb-theme(font-weight-light);
		}
	}
	ng2-smart-table /deep/ tr{
		cursor: pointer;
	}
	.stats-block {
		
		align-items: left;
		color: nb-theme(color-fg);
		padding: 0 1.5rem;
		border-right: 1px solid nb-theme(separator);

		.subtitle {
			font-size: 1rem;
			font-weight: nb-theme(font-weight-light);
		}

		.value {
			font-family: nb-theme(font-secondary);
			font-size: 1.5rem;
			font-weight: nb-theme(font-weight-bold);
			color: nb-theme(color-fg-heading);
		}

		.unit {
			font-family: nb-theme(font-secondary);
			font-size: 1.25rem;
			font-weight: nb-theme(font-weight-light);
		}
	}
}
