

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
CONTATO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#contato{
  background:#9EF0F2;

}

h1.contato{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size:49px;
  font-weight: 600;
  color:#E94151;
  text-align: center;
  width:180px;
  line-height: 58px;
  display:block;
  margin:0 auto;
}

#contato .contato-email{
  color:#2D2691;
  font-size:35px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 700;
  font-style: italic;

  text-align: center;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top:100px;
}

#contatos-wrapper{
  margin-top:35px;
}

#contatos-wrapper h4{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 700;
  font-size:20px;
  line-height: 21px;
  color:#2D2691;
}

#contatos-wrapper p.subtitle{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 700;
  font-size:13px;
  line-height: 16px;
  color:#1D1D1B;
}


#contatos-wrapper .contato-card{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 400;
  font-size:14px;
  line-height: 20px;
  color:#1D1D1B;
}

.contato-prefooter{
  background: url("../../../assets/images/contato/prefooter.png");
  background-position: center center;
  width:100%;
  height: 402px;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}

@media  screen and (max-width: 425px) {
  #contato .contato-email {
    font-size: 16px;
    margin-top: 60px;
  }
  .contato-prefooter {
     height: 200px;
    background-size: cover;
  }
}

