<!---
  --------------------------------------------------------------------------------------------------------------------------------------------------------------------
  --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        CONTATO
  --------------------------------------------------------------------------------------------------------------------------------------------------------------------
  --------------------------------------------------------------------------------------------------------------------------------------------------------------------
  --->

<div id="contato">
  <div class="container">

    <div class="cloud-wrapper">
      <div class="cloudsLeft"></div>
      <div class="cloudRight"></div>
    </div>

    <h1 class="contato">
      Contato
    </h1>

    <a href="mailto:institutointercement@intercement.com" class="contato-email">institutointercement@intercement.com</a>
    <div class="row">
      <div class="offset-md-3 col-md-8" id="contatos-wrapper">
        <h4>IMPRENSA</h4>
        <p class="subtitle">
          FSB COMUNICAÇÃO <br>
          www.fsb.com.br
        </p>

        <div class="row">
          <div class="col-md-3 contato-card">
            <p>
              Paula Barcellos <br>
              paula.barcellos@fsb.com.br <br>
              +55 (11) 3165-9589 <br>
              +55 (11) 97633-7888
            </p>
          </div>
          <div class="col-md-3 contato-card">
            <p>
              Josiane Campos <br>
              josiane.campos@fsb.com.br <br>
              +55 (11) 3165-9561
            </p>
          </div>

        </div>
      </div>

      <div class="offset-md-3 col-md-8" id="contatos-wrapper">
        <h4>COMUNICAÇÃO CORPORATIVA</h4>
        <p class="subtitle">

          <br />
        </p>

        <div class="row">
          <div class="col-md-3 contato-card">
            <p>
              Mara Pinheiro <br>
              mlpinheiro@intercement.com <br>
              +55 (11) 3718-4397 <br>
              +55 (11) 99969-9367
            </p>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="contato-prefooter"></div>

</div>
