<nb-card *ngFor="let gangPhase of gangPhases;" id="phase_{{gangPhase.phase.id}}">
	<nb-card-header>
		<div class="header-stats">
			<div class="stats-block">
				<div>
					<span class="value">{{gangPhase.phase.name}}</span>

				</div>
				<div class="subtitle">{{gangPhase.phase.status}}</div>
			</div>
			<div class="stats-block">
				<div class="subtitle">Data Início</div>
				<div>
					<span class="value">{{printDate(gangPhase.phase.start_at)}}</span>

				</div>
			</div>

			<div class="stats-block">
				<div class="subtitle">Data Término</div>
				<div>
					<span class="value">{{printDate(gangPhase.phase.end_at)}}</span>

				</div>
			</div>

		</div>
		<div class="container-btn">
			<a [routerLink]="['instructions', gangPhase.id]">
				<button type="button" class="btn btn-primary pull-right">Ler instruções da {{ gangPhase.phase.name }}</button>
			</a>
		</div>
	</nb-card-header>

	<nb-card-body>
		<div *ngIf="gangPhase.cant_start; else phaseIsInactive">
			<div class="p-3" *ngIf="gangPhase.phase.deliverable.length > 0">
				<div class="row" *ngFor="let deliverable of gangPhase.phase.deliverable">
					<div class="col-12 border p-2">
						<h5>
							<strong>{{ deliverable.name }}</strong>
						</h5>

						<div class="row" *ngFor="let file of deliverable.files">

							<div class="col-12">
								<hr>
							</div>
							<!--col-12-->

							<div class="col-12" *ngIf="doesPhaseHasDeliverableFile(gangPhase, file); else do_not_have">
								<div class="row">
									<div class="col-12 text-right">
										<button type="button" class="btn btn-hero-danger btn-sm" (click)="removeGangPhaseDeliverable(getFromGangPhaseDeliverableFile(gangPhase, file, 'id'))">Deletar</button>
									</div>
									<!--col-->

									<div class="col-6">
										<h5>{{ file.name }}</h5>

										<div class="col-md-12">
											<a target="_blank" href="{{ getFromGangPhaseDeliverableFile(gangPhase, file, 'file') }}" *ngIf="file.allowed_content_types !== 'videos'">
												<i class="fa fa-file-word-o fa-2x" *ngIf="file.allowed_content_types === 'documents'"></i>
												<i class="fa fa-file-image-o fa-2x" *ngIf="file.allowed_content_types === 'images'"></i>
												<i class="fa fa-file-archive-o fa-2x" *ngIf="file.allowed_content_types === 'zip'"></i>
												<span *ngIf="getFromGangPhaseDeliverableFile(gangPhase, file, 'name'); else videoLink">{{ getFromGangPhaseDeliverableFile(gangPhase, file, 'name') }}</span>
											</a>
											<span *ngIf="file.allowed_content_types === 'videos'">
												URL:
												<a href="{{ getFromGangPhaseDeliverableFile(gangPhase, file, 'video_link') }}" target="blank"> {{ getFromGangPhaseDeliverableFile(gangPhase, file, 'video_link') }} </a>
											</span>
										</div>
										<div class="col-md-12" *ngIf="getFromGangPhaseDeliverableFile(gangPhase, file, 'id') && file.allowed_content_types === 'videos'">
											<iframe width="560" height="315" [src]="getFromGangPhaseDeliverableFile(gangPhase, file, 'video_iframe_link')" frameborder="0"
											 allow="autoplay; encrypted-media" allowfullscreen></iframe>
										</div>

										<ng-template #videoLink>
											{{ getFromGangPhaseDeliverableFile(gangPhase, file, 'video_link') }}
										</ng-template>
									</div>
									<!--col-->

									<div class="col-6 text-right">
										<p>Data de upload</p>
										<p>{{ printDate(getFromGangPhaseDeliverableFile(gangPhase, file, 'created')) }}</p>
									</div>
									<!--col-->
								</div>
								<!--row-->
							</div>
							<!--col-->

							<ng-template #do_not_have>

								<div class="col-12" *ngIf="file.sample">
									<p>Faça o download do arquivo modelo, preecha, salve e envie
										<a href="{{file.sample}}" target="new" class="btn btn-hero-success btn-demo btn-sm ml-3">
											<i class="fa fa-download"></i> download do arquivo modelo
										</a>
									</p>
								</div>
								<!--col-->

								<div class="col-12" [ngSwitch]="file.allowed_content_types">
									<h5>{{ file.name }}</h5>

									<div *ngSwitchCase="'videos'">
										<div class="row">
											<div class="col-8 col-md-6 col-lg-6">
												<input type="text" name="video_link" class="form-control" placeholder="Link do video" id="video_link-{{file.id}}">
											</div>
											<!--col-->

											<div class="col-4 col-md-6 col-lg-6">
												<button type="button" class="btn btn-info" (click)="uploadGangPhaseDeliverable('video', gangPhase, file)">Salvar</button>
											</div>
											<!--col-->
										</div>
										<!--row-->
									</div>
									<!--switch case-->

									<div *ngSwitchDefault class="">
										<button class="btn-upload btn btn-hero-info btn-demo">
											<i class="fa fa-upload"></i> Upload
											<input type="file" (change)="uploadGangPhaseDeliverable($event, gangPhase, file);">
										</button>
									</div>
								</div>
								<!--col-12-->

							</ng-template>

						</div>
						<!--row-->
					</div>
					<!--col-->
				</div>
				<!--row-->
			</div>
			<!--p-2-->
		</div>

		<ng-template #phaseIsInactive>
			<div class="row">
				<div class="col-12">
					<h5>Esta fase ainda não está liberada</h5>
				</div>
				<!--col-->
			</div>
			<!--row-->
		</ng-template>

	</nb-card-body>
</nb-card>