


/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
APRESENTACAO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.apresentacao-title{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size:30px;
  font-weight: 600;
  color:#E94151;
  text-align: center;
  max-width:400px;
  width:100%;
  line-height: 35px;
  display:block;
  margin:10px auto 25px auto;
}

.apresentacao-picture{
  background-image: url("../../../assets/images/apresentacao/selfie.png");
  background-position: center center;
  width: 563px;
  height: 367px;
  margin-top: 40px;
  float: left;
}

.apresentacao-text1-wrapper{
  width:470px;
  float: left;
  margin-top: 60px;
  margin-left: 20px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:15px;
  font-weight: 300;
  color:#333;
  line-height: 21px;
  text-align: justify;
}
.apresentacao-text1-wrapper strong {
  font-weight: 700;
}

.apresentacao-text2-wrapper{
  width:470px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:25px;
  font-weight: 300;
  font-style: italic;
  color:#2D2691;
  line-height:28px;
  text-align: justify;
}

.apresentacao-text3-wrapper{
  width:470px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:20px;
  font-weight: 300;
  line-height:24px;
  color:#333;
  text-align: justify;
}

.apresentacao-blue-splash{
  background-image: url("../../../assets/images/apresentacao/splash.png");
  background-position: left center ;
  width: 466px;
  height: 85px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
  display: block;
  float: none;
  position: relative;
}
.apresentacao-blue-splash span{
  width:300px;
  height:58px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 12px;
}

.apresentacao-blue-splash img {
  position: absolute;
  top: 0px;
  right: -100px;
}

.apresentacao-text4-wrapper{
  width: 570px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  padding-top: 50px;
  padding-left: 100px;
  color: #333;
  display: block;
  text-align: justify;
}
.apresentacao-text4-wrapper strong{
  font-weight: 700;
}

.apresentacao-text5-wrapper {
  width: 590px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  padding-left: 195px;
  color: #333;
  display: block;
}

.apresentacao-text5-wrapper p{
  border-left: 3px solid #2D2691;
  padding-left: 3px;
}

.apresentacao-text6-wrappper{
  width: 570px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 100px;
  padding-bottom:30px;
  color: #333;
  display: block;
  text-align: justify;
}

.apresentacao-prefooter{
  width:100%;
  height: 195px;
}

.apresentacao-prefooter .container{
  position: relative;
}

.apresentacao-picture-girlphotographer{
  background-image: url("../../../assets/images/apresentacao/girlphotographer.png");
  width:346px;
  height: 337px;
  position: absolute;
  top: -250px;
  right: 70px;
}

@media  screen and (max-width: 425px) {
  .apresentacao-picture{
    height: 260px;
    float: left;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .apresentacao-text1-wrapper, .apresentacao-text2-wrapper,
  .apresentacao-text3-wrapper
  {
    width:100%;
    padding:0px;
  }

  .apresentacao-blue-splash{
    width: 120%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -10%;
  }

  .apresentacao-blue-splash span{
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 19px 25px !important;
  }

  .apresentacao-blue-splash img{
    display:none;
  }

  .apresentacao-text4-wrapper{
    width: 100%;
    padding: 10px 0px;
  }

  .apresentacao-text5-wrapper{
    width: 100%;
    padding: 0px 0px 0px 25px;
  }

  .apresentacao-text6-wrappper{
    width: 100%;
    padding: 10px;
    padding-bottom: 190px;
  }
  .apresentacao-picture-girlphotographer{
    width: 286px;
    height: 337px;
    position: absolute;
    top: -160px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
