<div id="apresentacao">
  <div class="container">
    <h1 class="apresentacao-title">
      Mais que um desafio,
      uma missão e um movimento!
    </h1>

    <div class="apresentacao-picture"></div>


    <div class="apresentacao-text1-wrapper">
      Se você é <strong>aluno do 8º ou 9º ano do Ensino Fundamental 2</strong>,
      gosta de desafios, tem atitude, se sente um protetor da natureza e
      acredita que o meio ambiente tem muito a ganhar com a garra da juventude,
      não pode perder a chance de se inscrever na <strong>edição 2018 do Concurso Geração Sustentável
      e entrar para o movimento #ChegaDeDoença</strong>, que renderá prêmios e reconhecimento público.
    </div>

    <div class="apresentacao-text2-wrapper">
      Faça a sua parte! Cuide da natureza e combata as doenças transmitidas por mosquitos!
    </div>

    <div class="apresentacao-text3-wrapper">
      Neste concurso, você vai ajudar a desenvolver soluções para um dos principais problemas ambientais que afetam o Brasil nos dias atuais: as doenças transmitidas por mosquitos.
    </div>

    <div class="clear"></div>

    <div class="apresentacao-blue-splash">
      <span>VOCÊ SABE O QUE PODE FAZER PARA COMBATER AS DOENÇAS TRANSMITIDAS POR MOSQUITOS NA SUA CIDADE?</span>
      <span><img src="../../assets/images/apresentacao/mosquito.png" /> </span>
    </div>
  </div>

  <div class="clear"></div>

  <div class="lightgrey-bg">
    <div class="container">

      <div class="apresentacao-text4-wrapper">
        <p>
          Iniciativa do <strong>Instituto InterCement</strong>, o concurso é dirigido aos estudantes das escolas públicas municipais e estaduais das 15 cidades onde a empresa atua e o desafio aos jovens está lançado:
        </p>
      </div>

      <div class="apresentacao-text5-wrapper">
        <p>A MISSÃO É CUMPRIR OS 5 PASSOS DO CONCURSO, PRODUZINDO UM VÍDEO NO FINAL, COM 3 A 5 MINUTOS DE DURAÇÃO, QUE MOSTRE AS CAUSAS DO PROBLEMA E PRINCIPALMENTE AS SOLUÇÕES QUE CADA UM PODE DAR COM MUDANÇAS SIMPLES NOS HÁBITOS DO DIA A DIA.</p>
      </div>

      <div class="apresentacao-text6-wrappper">
        <p>
          O trabalho deverá ser feito em equipe com cinco integrantes:
          um professor(a)-tutor(a) e quatro alunos.
        </p>
      </div>
    </div>
  </div>
  <div class="apresentacao-prefooter blue-bg">
    <div class="container">
      <div class="apresentacao-picture-girlphotographer"></div>
    </div>
  </div>

</div>
