<nb-card>
	<nb-card-header>{{ this.gang.id ? 'Editar Grupo' : 'Novo Grupo'}}</nb-card-header>

	<nb-card-body>

		<form [formGroup]="form" (ngSubmit)="onSubmit()" [formValidation]="form">
			<input type="text" class="form-control" placeholder="ID" formControlName="id" style="display: none;" />
			<div class="row">
				<div class="col-12 col-md-3 col-lg-3">
					<div class="form-group">
						<label for="name" class="form-control-label">Nome</label>
						<input type="text" class="form-control" placeholder="Nome" name="name" formControlName="name" />
					</div>
					<div validationMessages="name">
						<small class="form-text error" validationType="required">Nome é obrigatório</small>
						<small class="form-text error" validationType="minlength">Nome Inválido</small>
					</div>
				</div>
				<!--col-->

				<div class="col-12 col-md-3 col-lg-3">
					<div class="form-group">
						<label for="school" class="form-control-label">Escola</label>
						<input type="text" class="form-control" placeholder="Nome da Escola" name="school" formControlName="school" />
					</div>
					<div validationMessages="school">
						<small class="form-text error" validationType="required">Escola é obrigatória</small>
						<small class="form-text error" validationType="minlength">Escola Inválida</small>
					</div>
				</div>
				<!--col-->
				<div class="col-12 col-md-3 col-lg-3" *ngIf="currentUser.is_staff || currentGroup == 1 || currentGroup == 3">
					<div class="form-group">
						<label for="city" class="form-control-label">Cidade</label>
						<select class="form-control" placeholder="Cidade" formControlName="city" name="city">
							<option value="null">--- SELECIONAR CIDADE --</option>
							<option *ngFor="let city of cities" value="{{city?.id}}">{{city?.name}} - {{city?.state}}</option>
						</select>
					</div>

				</div>
				<!--col-->
				<!--col-->
				<div class="col-12 col-md-3 col-lg-3" *ngIf="currentUser.is_staff || currentGroup == 1">
					<div class="form-group">
						<label for="is_focal_point" class="form-control-label">Grupo Focal? Administrador</label>
						<select class="form-control" formControlName="is_focal_point" name="is_focal_point">
							<option value="false">Não</option>
							<option value="true">Sim</option>
						</select>
					</div>

				</div>
				<!--col-->
			</div>
			<!--row-->
			<div class="row">
				<div class="col-12">
					<button class="btn btn-hero-success btn-block" type="submit" (click)="onSubmit()" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
						<span *ngIf="!submitted">Salvar</span>
						<span *ngIf="submitted">Enviando...
							<i class="fa fa-spinner fa-pulse"></i>
						</span>
					</button>
				</div>
			</div>
			<!--row-->
		</form>

	</nb-card-body>
</nb-card>