<nb-layout style="display:none">
</nb-layout>
<header>
  <div class="row top-header">
    <div class="col-md-12 ">
      <div class="container">
        <button class="btn btn-login pull-right" routerLink="/auth/login">
          Login
        </button>
      </div>
    </div>
  </div>
  <div class="row logo-wrapper">
    <div class="col-md-12">
      <div class="center">
        <a routerLink="/"><img src="assets/images/geracao_sustentavel_logo.png"/></a>
      </div>
    </div>
  </div>

  <div class="navbar-mainmenu">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <a class="navbar-brand" href="javascript:void();"></a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarNavMainMenu" aria-controls="navbarNavMainMenu" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="!isNavbarCollapsed"  class="collapse navbar-collapse" id="navbarNavMainMenu">
          <ul class="navbar-nav nav-list">
            <li class="nav-item">
              <a class=" nav-link" routerLink="/" (click)="isNavbarCollapsed = !isNavbarCollapsed" > Início </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/apresentacao" (click)="isNavbarCollapsed = !isNavbarCollapsed"> O Concurso </a>
              <ul class="nav-submenu">
                <li class="nav-submenu-item" styke="min-width: 125px;">
                  <a class="nav-link" routerLink="/agenda" (click)="isNavbarCollapsed = !isNavbarCollapsed">Agenda</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/premiacao" (click)="isNavbarCollapsed = !isNavbarCollapsed">
                Premiação
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/inscricoes" routerLinkActive="active" (click)="isNavbarCollapsed = !isNavbarCollapsed"> Inscrições </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/regulamento" routerLinkActive="active"  (click)="isNavbarCollapsed = !isNavbarCollapsed"> Regulamento </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contato" routerLinkActive="active" (click)="isNavbarCollapsed = !isNavbarCollapsed"> Contato </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>


<section id="content">

  <router-outlet></router-outlet>

</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 pull-left">
        <div class="footer-logo-wrapper">
          <img src="assets/images/geracao_sustentavel_logo.png"/>
        </div>
      </div>
      <div class="col-md-4 col-sm-auto"></div>
      <div class="col-md-4 pull-right">
        <div class="footer-intercement-wrapper">
          <img src="assets/images/footer-intercement-logo.png"/>
        </div>
      </div>

    </div>


  </div>
</footer>



