@font-face {
  font-family: 'another_wet_shabby';
  src: url('/assets/fonts/anotherwetshabbytrial-webfont.woff2') format('woff2'),
  url('/assets/fonts/anotherwetshabbytrial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-bold_italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-bold_italic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-light_italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-light_italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-light-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-medium_italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-medium_italic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'blogger_sans';
  src: url('/assets/fonts/blogger_sans-medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/blogger_sans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
/*
  100 - thin
  200 - extra light / ultra light
  300 - light
  400 - regular / normal / book
  500 - medium
  600 - semi bold / demi bold
  700 - bold
  800 - extra bold / ultra bold
  900 - black / heavy
*/



.top-header .btn-login{
  width:72px;
  height: 24px;
  background:#2D2691;
  color:#40DD99;
  border-radius: 10px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight:bold;
  font-size:15px;
  line-height:13px;
  margin-top:20px;
  text-transform: uppercase;
  cursor:pointer;
  border: unset;
  padding: 0;
}

header .logo-wrapper{
  text-align:center;
  display:block;
}

header .logo-wrapper img{
  width:205px;
}

header .row{
  margin-left:0px;
  margin-right:0px;
}

.navbar-mainmenu{
  width:100%;
  height:45px;
  background: #40DD99;
  margin-top:15px;
}

.navbar-mainmenu .navbar-nav{

}

.navbar-mainmenu .navbar-nav a{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color:#fff;
  text-transform: uppercase;
  padding: 2px 25px;
  display: inline;
}

@media only screen and (min-width: 992px)  {
  #navbarNavMainMenu{
    display:block !important;
    text-align: center;
  }
}


#navbarNavMainMenu .navbar-nav{
  display:unset;
}

.navbar-mainmenu .navbar-toggler {
  padding: 0px 8px;
  cursor:pointer;
}

.nav-list, .nav-submenu{
  list-style-type: none;
  display:block !important;
}

.nav-list .nav-item{
  display:inline-block;
  position: relative;
  height: 37px;
}

.nav-submenu{
  display: none !important;
  position: absolute;
  top: 34px;
  left: 8px;
  background: #40dd99;
  border-top: 3px solid #32BA7C;
  padding:0px;
}

.nav-list .nav-item:hover .nav-submenu{
  display: block !important;
}


footer{
  height:160px;
  background: #fff;
}

footer .footer-logo-wrapper{
  margin-top:40px;
}

footer .footer-logo-wrapper img{
  width:152px;
}

footer .footer-intercement-wrapper{
  margin-top:40px;
  float: right;
}

footer .footer-intercement-wrapper img{

}

.blue-bg{
  background:#2D2691;
}

.lightgrey-bg{
  background: #F2F2F2;
}

.darkgrey-bg{
  background:#D3D3D3;
}

.lighblue-bg{
  background: #9EF0F2;
}

.btn-subscribe{
  background: #43E8A5;
  color: #007bff;
  width:270px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
  display: block;
  margin: 0px auto;
}
.btn-subscribe:hover{
  color: #007bff;
}
.clear{
  clear:both;
}

@media  screen and (max-width: 991px) {

  #navbarNavMainMenu .navbar-nav{
    padding-left:0px;
  }

  .navbar-mainmenu .navbar-collapse{
    background: #40dd99;
    position: relative;
    z-index: 2;
  }


  .nav-list .nav-item {
      display: block;
  }

  .navbar-mainmenu .navbar-nav a{
    display:block;
    text-align: center;
    padding: 6px;
  }

}

@media  screen and (max-width: 425px) {
  footer .pull-left{
    width:150px;
  }
  footer .pull-left img{
    width:130px;
  }
  footer .col-sm-auto{
    display:none
  }
  footer .pull-right{
    width:150px;
    display: block;
    margin-left: auto;
  }
  footer .pull-right img{
    width:130px;
  }

}

@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}













