@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  
  nb-user /deep/ .user-context-menu .fa-times-circle:before, .user-context-menu .fa-times-circle{
    color:#E94151 !important;
  }
  


  .badge{
    background-image: linear-gradient(90deg,#b57fff,#8a7fff);
    box-shadow: 0 0 0 0 #896ddb, 0 0 0 0 #9f7fff;
    color: #fff;
  }

  .control-item .ng-star-inserted{
    cursor: pointer !important;
  }


  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
  }

  .control-item {
    display: block;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    .dropdown-toggle:empty::after{
      display:none;
    }
    .navigation {
      padding-right: nb-theme(padding);
      font-size: 2.5rem;
      text-decoration: none;

      i {
        display: block;
      }

    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);

      white-space: nowrap;
      .logo-img{
        width: 10rem;
      }
      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }
  }

  .toggle-layout /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
    }
  }

  @include media-breakpoint-down(md) {

    nb-action:not(.toggle-layout) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-layout {
      padding: 0;
    }
  }
  ng2-smart-table /deep/ tr{
    cursor: pointer;
  }
  @include media-breakpoint-down(sm) {

    nb-user /deep/ .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {

    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-layout {
      display: none;
    }

    nb-action:not(.toggle-layout) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right /deep/ {
      display: none;
    }
  }
}

#dropdownNotifications:after{
  border:unset;
}

#dropdownNotificationsMenu{
  min-width: 250px;
  box-shadow: 0px 4px 5px #e8e8e8;
  padding: 0px;
}




#dropdownNotificationsMenu /deep/ .ng2-smart-th{
  display:none !important;
}


