<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
	<div class="logo-containter">
		<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>

		<div class="logo" (click)="goToHome()">
			<img class="logo-img" src="assets/images/geracao_sustentavel_logo.png" />
		</div>
	</div>
</div>

<nb-actions size="medium" class="header-container" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
	<nb-action>
		<nb-user [menu]="userMenu" [name]="user ? user.name  : ''" (menuClick)="menuClickListener($event)"></nb-user>
	</nb-action>

	<nb-action class="control-item  notifications" *ngIf="groupId == 2">
		<div ngbDropdown placement="bottom-right">
			<span id="dropdownNotifications" ngbDropdownToggle>
				<i class="control-icon nb-notifications"></i>
				<div class="badge" *ngIf="new_notification_count > 0" class="badge">
					{{new_notification_count}}
				</div>
			</span>
			<div id="dropdownNotificationsMenu" ngbDropdownMenu aria-labelledby="dropdownNotifications">
				<ng2-smart-table [settings]="settingsNotifications" [source]="sourceNotifications" (userRowSelect)="onUserRowSelect($event)"
				 (create)="createNewEntryButtonClickListener()" (edit)="editEntryButtonClickListener($event)" (delete)="deleteEntryButtonListener($event)">
				</ng2-smart-table>
			</div>
		</div>

	</nb-action>


</nb-actions>