@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
	.little-space {
		margin-top: 2rem;
	}

	.row-title {
		color: #a4abb3;
	}

	ckeditor {
		width: 100% !important;
	}
	ng2-smart-table /deep/ tr{
		cursor: pointer;
	}
}
