<nb-card>
	<nb-card-header>Envio de Mensagem</nb-card-header>

	<nb-card-body>
		<form [formGroup]="form" (ngSubmit)="onSubmit()" [formValidation]="form">
			<div class="row">
				<div class="col-12 row-title">
					<p>Como a mensagem será enviada?</p>
				</div>
				<div class="demo-radio col-sm-12">
					<label class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" name="type" value="system" formControlName="type">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Notificação Sistema</span>
					</label>

					<label class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" name="type" value="email" formControlName="type">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Notificação Sistema + Email</span>
					</label>
				</div>
			</div>
			<div class="row little-space">
				<div class="col-12 row-title">
					<p>Para quem você deseja enviar essa notificação?</p>
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<select class="form-control" formControlName="selected_notification_type" name="selected_notification_type">
							<option value="null">--- SELECIONE--</option>
							<option *ngFor="let nt of notification_type" value="{{nt.index}}">{{nt.value}}</option>
						</select>
					</div>
				</div><!--col-->
			</div>
			<div class="row little-space" *ngIf="selected_notification_type == 'city'">
				<div class="col-12 row-title">
					<p>
						Os Grupos de quais cidades vão receber a mensagem?
						<button type="button" class="btn btn-hero-primary btn-tn" (click)="selectAllCities()">
							<i class="fa fa-check-square"></i> TODOS
						</button>
					</p>
				</div>
				<div *ngFor="let city of allCities; let i=index;" class="col-4 col-md-3 col-lg-3">
					<nb-checkbox [formControl]="form.get(['cities', i])" *ngIf="form.get('cities').length > 0" value="{{city?.id}}"> {{ city.name }} </nb-checkbox>
				</div><!--col-->
			</div> 
			<div class="row little-space" *ngIf="selected_notification_type == 'one'">
				<div class="col-12 row-title">
					<p>Enviar Mensagem apenas para um grupo</p>
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<select class="form-control" placeholder="Grupo" formControlName="select_gang" name="select_gang">
							<option value="null">--- SELECIONE O GRUPO --</option>
							<option *ngFor="let gang of allGangs" value="{{gang?.id}}">{{gang?.name}} ({{gang?.city?.name}} - {{gang?.city?.state}})</option>
						</select>
					</div>
				</div><!--col-->
			</div>
			<div class="row little-space" *ngIf="selected_notification_type && selected_notification_type != 'null'">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="name" class="form-control-label">Título da mensagem</label>
						<input type="text" class="form-control" placeholder="Título da mensagem" name="content_subject" formControlName="content_subject"/>
					</div>
					<div validationMessages="content_subject">
	                    <small class="form-text error" validationType="required">Título da mensagem é obrigatório</small>
	                    <small class="form-text error" validationType="minlength">Título da mensagem Inválido</small>
	                </div>

				</div><!--col-->

				<div class="col-lg-12">
					<div class="form-group">
						<label for="end_at" class="form-control-label">Mensagem</label>
            <div class="input-group">
              <ckeditor [config]="{ language: 'pt-br', extraPlugins: 'divarea', height: '320', width: '100%' }" name="content" formControlName="content"></ckeditor>
              
            </div>
					</div>
					
				</div><!--col-->
			</div>

			<div class="row">
				<div class="col-12 text-right">
					<button class="btn btn-hero-secondary" type="button" (click)="cleanForm()" [disabled]="submitted" [class.btn-pulse]="submitted">
						<span>Apagar</span>
					</button>
					<button class="btn btn-hero-success" type="submit" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
						<span *ngIf="!submitted">ENVIAR NOTIFICAÇÃO PARA {{gangCount}} GRUPO(S)</span><span *ngIf="submitted">Enviando... <i class="fa fa-spinner fa-pulse"></i></span>
					</button>
				</div>
			</div><!--row-->
		</form>
	</nb-card-body>
</nb-card>
<nb-card>
	<nb-card-header>Mensagens Enviadas</nb-card-header>
	<nb-card-body>
		<ng2-smart-table
			[settings]="settings"
			[source]="source"
      (userRowSelect)="onUserRowSelect($event)"
			(edit)="editEntryButtonClickListener($event)">
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
