<nb-card>
	<nb-card-header>
		<span *ngIf="gangPhase.phase">{{ gangPhase.phase.name }} - Instruções</span>
		<a [routerLink]="['/admin/phaseview']"> <button type="button" class="btn btn-primary pull-right">Voltar</button></a>
	</nb-card-header>

	<nb-card-body>
		<div class="row">
			<div class="col-12" [innerHtml]="gangPhase?.phase?.instructions">
				
			</div><!--col-->

		</div><!--row-->
	</nb-card-body>
</nb-card>
