<div id="regulamento">
	<div class="container">
		<h1 class="regulamento">
			Regulamento
		</h1>

		<p class="regulamento-subtitle">
			REGULAMENTO GERAL
			<br> III CONCURSO GERAÇÃO SUSTENTÁVEL
			<br> INSTITUTO INTERCEMENT
			<br> EDIÇÃO 2018
			<br>
		</p>

		<div class="offset-md-2 col-md-8" id="regulamento-text-wrapper">
			<p class="title">
				1. &nbsp;&nbsp;
				<span class="tab"></span>DAS DISPOSIÇÕES GERAIS
			</p>
			<p>
				1.1
				<span class="tab"></span>Este Regulamento dispõe sobre a organização do III Concurso Geração Sustentável – Edição 2018 promovido pelo Instituto
				InterCement, qual será publicado no website www.geracaosustentavel.org.
			</p>
			<p>
				1.2
				<span class="tab"></span>A participação neste Concurso é voluntária e totalmente gratuita.
			</p>
			<p>
				1.3
				<span class="tab"></span>A participação neste Concurso sujeita todos os participantes às regras e condições estabelecidas neste Regulamento.
				Desta forma, o participante, no ato de seu cadastro, adere as disposições, declarando total ciência e aceita irrestrita
				e totalmente, todos os itens deste Regulamento.
			</p>

			<p>
				<img src="../../../assets/images/regulamento/img1.png" />
			</p>

			<p class="title">
				2. &nbsp;&nbsp;
				<span class="tab"></span>DOS OBJETIVOS DO CONCURSO
			</p>
			<p>
				2.1
				<span class="tab"></span>Objetivo Geral:
				<br> a. &nbsp;&nbsp;
				<span class="tab"></span>Estimular o desenvolvimento dos pilares da educação ambiental: aprender a conviver, aprender a fazer, aprender
				a pensar e a conhecer melhor os cuidados com o meio ambiente.
				<br> b. &nbsp;&nbsp;
				<span class="tab"></span>Promover a integração entre estudantes, professores, funcionários, pais e comunidade, oportunizando a integração
				escola, família e comunidade.
				<br> c. &nbsp;&nbsp;
				<span class="tab"></span>Desenvolver a imaginação criadora, desenvolvendo diversas formas de leitura e vivenciando o valor da liberdade
				exercida com responsabilidade, respeito e segurança através do tema proposto.
				<br> d. &nbsp;&nbsp;
				<span class="tab"></span>Pesquisar sobre a situação, diagnosticar problemas e buscar soluções, mobilizando alunos da escola ou comunidade
				local do bairro, cidade e/ou região.
				<br>
			</p>
			<p>
				2.2
				<span class="tab"></span>Este Concurso compreende o tema: “Movimento Chega de Doença! Juntos pela proteção da natureza e o combate às doenças
				transmitidas por mosquitos”.
			</p>

			<p>
				<img src="../../../assets/images/regulamento/img2.png" />
			</p>

			<p class="title">
				3. &nbsp;&nbsp;
				<span class="tab"></span>DAS REGRAS DE PARTICIPAÇÃO
			</p>
			<p>
				3.1
				<span class="tab"></span>Elegíveis - jovens alunos dos 8º (oitavo) e 9º (nono) anos do Ensino Fundamental II das Escolas Públicas Municipais
				e Estaduais, a saber: (i) Estado de São Paulo, Cidades: Cajati, Itaoca e Apiai; (ii) Estado de Mato Grosso do Sul, Cidade
				de Bodoquena; (iii) Estado da Bahia, Cidades: Brumado, Campo Formoso; (iv) Estado do Rio Grande do Sul, Cidades: Candiota,
				Nova Santa Rita; (v) Estado de Goias, Cidade de Cezarina; (vi) Estado de Minas Gerais, Cidades: Ijaci, Pedro Leopoldo;
				(vii) Estado de Alagoas, Cidade de São Miguel dos Campos; e (viii) Estado da Paraiba, Cidade de João Pessoa.
			</p>
			<p>
				3.2
				<span class="tab"></span>Inscrição – Os interessados deverão compor uma equipe com 04 (quatro) integrantes e um(a) professor(a) tutor(a).
				Cada participante (incluindo alunos e professores) deverá preencher sua respectiva ficha de inscrição no website do concurso
				“Concurso Geração Sustentável” no website www.geracaosustentavel.org.. O tutor deverá ser o primeiro a se cadastrar,
				pois ele será responsável por inscrever a equipe. Posteriormente os alunos deveram se cadastrar dentro dela e sinalizar
				quem será o aluno líder do grupo, o qual será responsável por registrar as evidências das conclusões das etapas. Todos
				os campos de cadastro obrigatórios do formulário, deveram ser preenchidos, pois essas informações serão consideras em
				todas etapas.
			</p>
			<p>
				3.2.1
				<span class="tab" style="padding-left:11px;"></span>O responsável legal pelo participante, obrigatoriamente, deverá preencher a Declaração (anexa) autorizando a participação
				do menor de 18 (dezoito) anos no Concurso.
			</p>
			<p>
				3.3
				<span class="tab"></span>Participação - Os interessados deverão compor uma equipe com 04 (quatro) integrantes e um(a) professor(a) tutor(a).
				Cada participante (incluindo alunos e professores) deverá preencher sua respectiva ficha de inscrição no site do concurso.
				Todos os 05 (cinco) passos deverão ser concluídos para conclusão da missão, deverão ser realizados em equipe.
			</p>
			<p>
				3.4
				<span class="tab"></span>Fases - O Concurso segue 05 (cinco) passos, cada um com suas respectivas tarefas a serem disponibilizadas no site.
				Cada passo contém tarefas a ser executada, com prazos definidos. Cada equipe deverá clicar em cada passo e cumprir as
				atividades propostas, dentro dos prazos previstos. Só poderão executar o passo seguinte quando for finalizado o que estão
				desenvolvendo dentro do prazo. Cada finalização do passo realizado pela equipe deve gerar um relatório que comprove o
				cumprimento do passo. Antes de começar, as equipes deverão navegar por todos os passos, lendo as dicas e orientações.
				Em cada cidade haverá funcionários da unidade da empresa responsáveis em apoiar as equipes das escolas e promover as
				ações operacionais do concurso.
			</p>
			<p>
				3.5
				<span class="tab"></span>O Concurso é dividido em 05 (cinco) fases, as quais se encontram enumeradas e definidas a seguir:
			</p>
			<p>
				Fase 1: Quem Somos - Nesse passo a proposta será se conhecer melhor e fortalecer a união do time por meio de alguns jogos
				e atividades muito bacanas.
				<br> Fase 2: Diário de Bordo, Pesquisa e Plano de Ação – Aprofundamento da problemática e planejamento para cumprir todas
				os passos dentro do prazo.
				<br> Fase 3: Roteiro e Gravação – Produção do vídeo com dicas para criar o roteiro e grave todo o material que vocês irão
				utilizar
				<br> O vídeo deverá ser gravado observando regras de segurança como:
				<br> a. Não ser expor diretamente ao foco de mosquito ou qualquer outro tipo de inseto;
				<br> b. Cuidado com materiais cortantes e perfurorcantes;
				<br> c. Escolha um local seguro para gravação como escola etc.
				<br> d. Tenha sempre a supervisão de um adulto.
				<br> O vídeo deverá ter de 03 (três) a 05 (cinco) minutos sobre o tema: Movimento Chega de Doença! Juntos pela proteção da
				natureza e o combate às doenças transmitidas por mosquitos.
				<br> Fase 4: O vídeo deverá ser hospedado no YouTube ou Vimeo, cumprindo suas regras e depois postado no website do Concurso.
				Só serão aceitos vídeos se estiver acompanhados dos respectivos termos de cessão de imagem das pessoas que aparecem na
				filmagem, devidamente assinados.
				<br> Fase 5: Apresentação para a comunidade - O vídeo deverá ser compartilhado com a comunidade bem como tudo o que vocês
				aprenderam, trazendo mais adeptos para o movimento.
				<br>
			</p>
			<p class="title">
				4. &nbsp;&nbsp;
				<span class="tab"></span>DO JULGAMENTO DOS VÍDEOS E TRABALHOS
			</p>
			<p>
				4.1
				<span class="tab"></span>Após conclusão das 05 (cinco) fases, os vídeos serão avaliados pela Comissão julgadora do Concurso composta pelos
				integrantes do CDC – Comitê de Desenvolvimento Comunitário de cada um dos municípios. A comissão organizadora da fábrica
				deverá convidar os integrantes do CDC para uma reunião. Nesta reunião a comissão organizadora da fábrica exibirá os vídeos
				e na sequencia ocorrerá a votação.
			</p>
			<p>
				4.2
				<span class="tab"></span>Os integrantes do CDC - Comitê de Desenvolvimento Comunitário, que avaliam as equipes, não deve ter filhos ou
				parentes participando do concurso. Caso tenham, não poderão participar da avaliação do concurso.
			</p>
			<p>
				4.3
				<span class="tab"></span>Os seguintes critérios serão utilizados para a avaliação: ideia, criatividade, definição do problema e soluções
				criativas, bem como o envolvimento dos alunos e da comunidade na mobilização.
			</p>
			<p>
				4.4
				<span class="tab"></span>Caberá à comissão organizadora local em cada cidade, tabular os resultados da avaliação após a reunião.
			</p>
			<p>
				4.5
				<span class="tab"></span>A Comissão Corporativa, formada pela área de Sustentabilidade, Comunicação, Saúde, Segurança e Meio Ambiente e
				Instituto InterCement, avaliará os vídeos vencedores em cada município e elegerá o vídeo vencedor no âmbito nacional,
				segundo os mesmos critérios de avaliação utilizados pelo CDC.
			</p>
			<p>
				4.6
				<span class="tab"></span>Os vídeos deverão se ater aos temas da missão, no caso da presente edição, Movimento Chega de Doença! Juntos pela
				proteção da natureza e o combate às doenças transmitidas por mosquitos. Os participantes do vídeo, sejam alunos ou convidados,
				devem preencher uma carta de autorização do uso de imagem.
			</p>

			<p>
				<img src="../../../assets/images/regulamento/img3.png" />
			</p>

			<p class="title">
				5. &nbsp;&nbsp;
				<span class="tab"></span>DA DIVULGAÇÃO DOS RESULTADOS
			</p>
			<p>
				5.1
				<span class="tab"></span>Os resultados serão enviados para o Instituto InterCement, para a área de Saúde, Segurança e Meio Ambiente e para
				a área de Comunicação da InterCement. A área de Comunicação da InterCement elaborará uma divulgação dos resultados para
				cada um dos municípios, destacando os vídeos vencedores com todos os dados (participantes, cidade, escola, etc.) e disponibilizando
				no website, junto com o link do canal do Youtube do Concurso Geração Sustentável.
			</p>

			<p class="title">
				6. &nbsp;&nbsp;
				<span class="tab"></span>DA PRÊMIOS E CONQUISTAS
			</p>
			<p>
				6.1
				<span class="tab"></span>Premiação Local - O Concurso Geração Sustentável vai premiar um grupo por município. Para o evento de premiação
				serão convidados todos os participantes, bem como demais envolvidos diretores e coordenadores pedagógicos das escolas
				participantes, integrantes do CDC, colaboradores da unidade.
			</p>
			<p>
				6.2
				<span class="tab"></span>Cada um dos participantes da equipe vencedora receberá um Kit que serão entregues no dia da premiação. Se o prêmio
				descrito não estiver disponível por qualquer razão relevante, poderá ser substituído por outro equivalente ou similar
				a critério da Comissão.
			</p>
			<p>

				6.3
				<span class="tab"></span>Todos os participantes irão receber certificados de participação, desde que tenham chegado na última etapa.
			</p>
			<p>
				6.4
				<span class="tab"></span>Os vídeos vencedores, correspondentes a cada cidade participante, serão divulgados no site do Concurso Geração
				Sustentável e concorrerão a Premiação Nacional.
			</p>
			<p>
				6.4.1
				<span class="tab" style="padding-left:11px;"></span>Premiação Nacional - O vídeo mais votado pela Comissão Corporativa será o vencedor nacional e todos da equipe
				 serão premiados com um SMARTPHONE.
				<br>
			</p>
			<p>
				6.5
				<span class="tab"></span>O Instituto InterCement reserva o direito de definir a marca e modelo do aparelho.
			</p>

			<p>
				<img src="../../../assets/images/regulamento/img4.png" />
			</p>

			<p class="title">
				7. &nbsp;&nbsp;
				<span class="tab"></span> DOS PRAZOS DO CONCURSO
			</p>
			<p>
				7.1
				<span class="tab"></span> O Concurso será executado no período de 02 de abril de 2018 a 04 de agosto de 2018.
			</p>
			<p>
				7.1.1
				<span class="tab" style="padding-left:11px;"></span> Cronograma do Concurso.
			</p>


			<table class="regulamento-table">
				<thead>
					<tr>
						<th class="space">&nbsp;</th>
						<th> ATIVIDADES</th>
						<th> INÍCIO</th>
						<th> TÉRMINO</th>
						<th class="space">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="space">&nbsp;</td>
						<td>
							Prazo de inscrição dos grupos de jovens
						</td>
						<td>
							02/04/2018
						</td>
						<td>
							11/05/2018
						</td>
						<td class="space">&nbsp;</td>
					</tr>

					<tr>
						<td class="space no-border">&nbsp;</td>
						<td>
							Realização das 5 fases do concurso, pelas equipes sorteadas
						</td>
						<td>
							07/05/2018
						</td>
						<td>
							30/06/2018
						</td>
						<td class="space no-border">&nbsp;</td>
					</tr>
					<tr>
						<td class="space no-border">&nbsp;</td>
						<td>
							Fase 1: Quem Somos - Nesse passo vocês irão se conhecer melhor e fortalecer a
							união do time por meio de alguns jogos e atividades muito bacanas. 
						</td>
						<td>
							07/05/2018
						</td>
						<td>
							16/05/2018
						</td>
						<td class="space no-border">&nbsp;</td>
					</tr>
					<tr>
						<td class="space no-border">&nbsp;</td>
						<td>
							Fase 2: Diário de Bordo, Pesquisa e Plano de Ação – Agora é hora de entender
							mais profundamente o problema e se planejar para cumprir todas os
							passos dentro do prazo.
						</td>
						<td>
							17/05/2018
						</td>
						<td>
							03/06/2018
						</td>
						<td class="space no-border">&nbsp;</td>
					</tr>
					<tr>
						<td class="space no-border">&nbsp;</td>
						<td>
							Fase 3: Roteiro e Gravação – Chegou a hora de produzir o vídeo! Siga as dicas
							para criar o roteiro e grave todo o material que vocês irão utilizar.
						</td>
						<td>
							04/06/2018
						</td>
						<td>
							17/06/2018
						</td>
						<td class="space no-border">&nbsp;</td>
					</tr>
					<tr>
						<td class="space no-border">&nbsp;</td>
						<td>
							Fase 4: Hospedagem do vídeo – Hospedá-lo no Youtube ou Vimeo,
							disponibilizando-o no site do concurso, com seus devidos termos de
							cessão de uso de imagem assinados.
						</td>
						<td>
							18/06/2018
						</td>
						<td>
							24/06/2018
						</td>
						<td class="space no-border">&nbsp;</td>
					</tr>
					<tr>
						<td class="space">&nbsp;</td>
						<td>
							Fase 5: Apresentação para a comunidade – Hora de compartilhar com a
							comunidade tudo o que vocês aprenderam, trazendo mais adeptos
							para o movimento.
						</td>
						<td>
							25/06/2018
						</td>
						<td>
							30/06/2018
						</td>
						<td class="space">&nbsp;</td>
					</tr>
					<tr>
						<td class="space ">&nbsp;</td>
						<td>
							Julgamento dos resultados do concurso municipal
						</td>
						<td>
							01/07/2018
						</td>
						<td>
							18/07/2018
						</td>
						<td class="space ">&nbsp;</td>
					</tr>
					<tr>
						<td class="space ">&nbsp;</td>
						<td>
							Premiação no município
						</td>
						<td>
							18/07/2018
						</td>
						<td>
							28/07/2018
						</td>
						<td class="space ">&nbsp;</td>
					</tr>
					<tr>
						<td class="space ">&nbsp;</td>
						<td>
							Julgamento dos resultados do concurso nacional
						</td>
						<td>
							28/07/2018
						</td>
						<td>
							04/08/2018
						</td>
						<td class="space">&nbsp;</td>
					</tr>
					<tr>
						<td class="space">&nbsp;</td>
						<td>
							Divulgação dos vencedores
						</td>
						<td>
							04/08/2018
						</td>
						<td>
							14/08/2018
						</td>
						<td class="space">&nbsp;</td>
					</tr>
					<tr>
						<td class="space">&nbsp;</td>
						<td>
							Premiação nacional
						</td>
						<td width="100px">
							2º semestre
						</td>
						<td>
							&nbsp;
						</td>
						<td class="space">&nbsp;</td>
					</tr>
				</tbody>
			</table>






			<p>
				7.2
				<span class="tab"></span> O Instituto InterCement reserva o direito de alterar o cronograma o qual tal informação será divulgada no site do concurso.
			</p>


			<p class="title">
				8. &nbsp;&nbsp;
				<span class="tab"></span> DOS DIREITOS AUTORAIS
			</p>
			<p>
				8.1
				<span class="tab"></span>Ao participar do concurso Geração Sustentável, promovido pelo Instituto InterCement, os participantes cedem os direitos autorais dos vídeos produzidos e uso de sua imagem e voz, captados durante o concurso, ao Instituto InterCement para que este possa livremente disponibilizar o conteúdo em seu site, bem como exibir em outras mídias virtuais e sociais.
			</p>


			<p class="title">
				9. &nbsp;&nbsp;
				<span class="tab"></span>DAS DISPOSIÇÕES GERAIS
			</p>
			<p>
				9.1
				<span class="tab"></span> Os casos omissos serão resolvidos pela Comissão Corporativa.
				<br> 9.2
				<span class="tab"></span> Este Concurso, assim como seu regulamento, poderá ser alterado, a critério do Instituto InterCement, mediante
				aviso no website.
				<br> 9.3
				<span class="tab"></span> Fica desde já eleito o Foro Central da Comarca de São Paulo – SP para dirimir quaisquer questões oriundas deste
				Concurso.
				<br>
			</p>
			<p>
				<img src="../../../assets/images/regulamento/img5.png" />
			</p>

		</div>

		<a href="../../../assets/download/regulamento.pdf" download class="btn-download">
			BAIXAR REGULAMENTO EM PDF
		</a>

	</div>

	<div class="blue-bg">
		<div class="container">
			<div class="regulamento-subscribe-wrapper">
				<img src="../../assets/images/regulamento/clapperboard.png" />
				<p>Ok, já li tudo e agora
					<br> quero me inscrever!</p>
				<a routerLink="/inscricoes" class="button btn-subscribe">INSCREVA-SE</a>
			</div>
		</div>
	</div>
</div>