#regulamento{

}

h1.regulamento{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size:49px;
  font-weight: 600;
  color:#E94151;
  text-align: center;
  line-height: 58px;
  display:block;
  margin:0 auto;
}

.regulamento-subtitle{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:15px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  margin-top: 90px;
}

#regulamento-text-wrapper {
  margin-top:70px;
  margin-bottom:70px;
}

#regulamento-text-wrapper p{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:14px;
  line-height: 20px;
  font-weight: 300;
  color:#1D1D1B;
  text-align: justify;
}
#regulamento-text-wrapper span.tab{
  padding-left:20px;
}
#regulamento-text-wrapper p.title{
  font-weight: 600;
}

#regulamento-text-wrapper p img{
  display: block;
  margin: auto;
}



.regulamento-subscribe-wrapper{
  display:block;
  width:270px;
  margin-left: auto;
  margin-right: auto;
  min-height: 220px;
}

.regulamento-subscribe-wrapper img{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: relative;
  top: -55px;
}

.regulamento-subscribe-wrapper p{
  color:#43E8A5;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:22px;
  line-height: 24px;
  font-weight: 500;
  text-align:center;
  position: relative;
  top: -25px;
}

.regulamento-subscribe-wrapper .btn-subscribe{
  position: relative;
  top: -20px;
}

table.regulamento-table{
  margin-top:30px;
  margin-bottom:70px;
}

table.regulamento-table thead {
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:18px;
  line-height: 23px;
  font-weight: 500;
}

table.regulamento-table th {
  border-bottom: 3px solid #000;
  padding: 0px 10px;
}

table.regulamento-table td {
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:14px;
  line-height: 17px;
  font-weight: 300;
  padding: 8px 10px;
  border-bottom:2px solid #000;
  vertical-align: text-top;
}

table.regulamento-table td.no-border {
  border-bottom:unset !important;
}
.btn-download{
  background: #2D2691;
  color: #43E8A5;
  width:230px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  display: block;
  margin: 0px auto;
  margin-bottom: 100px;
}
.btn-download:hover{
  color: #43E8A5;
}
