<div class="materialize-colopicker-container">
	<div class="dropdown" ngbDropdown #myDrop="ngbDropdown">
		<button type="button" class="btn squaredButton {{ dropdownColor }}" ngbDropdownToggle (click)="dropdownClick()"></button>
		<div ngbDropdownMenu class="dropdown-menu colorsIndexDropdown" role="menu">
			<li class="dropdown-item {{ color.label.toLowerCase() }}" *ngFor="let color of colors; let i=index;" (click)="changeColor(i); myDrop.close();">
				{{ color.label }}
			</li>
		</div>
    </div><!--dropdown btn-group col-12-->
    <div class="subColorsContainer {{ colorClass }}">
		<div [ngSwitch]="selectedColorIndex">
			<div *ngFor="let color of colors; let i=index;">
				<div *ngSwitchCase="i">
					<div *ngFor="let subColor of color.colors;">
						<div class="{{subColor.label}} text-center subColorItem" (click)="setModelValue(subColor.label, subColor.value)">
							{{ subColor.label }}
						</div><!--col-12-->
					</div><!--div-->
				</div>
			</div><!--div ngFor colors-->
			<div *ngSwitchDefault></div><!--div-->
		</div><!--div ngSwitch-->
	</div><!--col-->
    
</div><!--materialize-colorpicker-container-->


