<nb-card>
  <nb-card-header>
    <div class="pull-left">
      <div class="title">{{content?.subject}}</div>
      <div class="sub-title">Data da Envio: {{printDate(content?.created) }}</div>
    </div>
    <div class="container-btn pull-right">
      <button class="btn btn-primary btn-sm" (click)="back()"><i class="fa fa-chevron-circle-left"></i> Voltar</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="notificaiton-content" [innerHtml]="content?.content" >

    </div>
  </nb-card-body>

</nb-card>
