<nb-card>
	<nb-card-header>ARQUIVOS - WEBSITE</nb-card-header>

	<nb-card-body *ngIf="user?.is_staff">
		<ng2-smart-table 
			[settings]="settings" 
			[source]="source" 
			(create)="createNewEntryButtonClickListener()" 
			(edit)="editEntryButtonClickListener($event)" 
			(delete)="deleteEntryButtonListener($event)">
		</ng2-smart-table>
	</nb-card-body>
	<nb-card-body *ngIf="!user?.is_staff">
		<ng2-smart-table 
			[settings]="settings_public" 
			[source]="source"> 
		</ng2-smart-table>
	</nb-card-body>
</nb-card>