<nb-card>
	<nb-card-header>GRUPOS</nb-card-header>

	<nb-card-body>
		<ng2-smart-table [settings]="settings" [source]="source" (create)="createNewEntryButtonClickListener()" (edit)="editEntryButtonClickListener($event)"
		 (delete)="deleteEntryButtonListener($event)">
		</ng2-smart-table>
	</nb-card-body>
</nb-card>