<nb-card>
	<nb-card-header>

		<h5 class="float-left mt-3">Vídeos</h5>

		<button type="button" (click)="changeTab('firstTab')" [ngClass]="{'btn': true, 'ml-4': true, 'float-left': true, 'btn-hero-info': currentTab == 'firstTab', 'btn-hero-secondary': currentTab != 'firstTab'}" *ngIf="!displayVoterVote">

			<span *ngIf="displayCityAdminVote; else intercementAdminBtn1Block">VOTAÇÃO LOCAL</span>

			<ng-template #intercementAdminBtn1Block>
				<span>LISTAGEM POR CIDADES</span>
			</ng-template>
		</button>

		<button type="button" (click)="changeTab('secondTab')" [ngClass]="{'btn': true, 'ml-4': true, 'float-left': true, 'btn-hero-info': currentTab == 'secondTab', 'btn-hero-secondary': currentTab != 'secondTab'}" *ngIf="!displayVoterVote">

			<span *ngIf="displayCityAdminVote; else intercementAdminBtn2Block">VENCEDOR DA CIDADE</span>

			<ng-template #intercementAdminBtn2Block>
				<span>FINALISTAS VOTAÇÃO NACIONAL</span>
			</ng-template>
		</button>

	</nb-card-header>

	<nb-card-body>
		<div [ngSwitch]="currentTab" *ngIf="!displayVoterVote; else voterView">
			<div *ngSwitchCase="'firstTab'">
				<div class="row" *ngFor="let city of cityGrouping;">
					<div class="col-12 col-md-12 col-lg-12">
						<p><strong>{{ city.city_name }}</strong></p>
					</div><!--col-->

					<div class="col-12 col-md-12 col-lg-12 mb-2">
						<div class="row">
							<div class="col-6 col-md-6 col-lg-6 mb-2" *ngFor="let video_index of city.videos_indexes;">
								
								<iframe width="100%" height="350" [src]="videos[video_index].video_iframe_link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<p>URL: <a href="{{ videos[video_index].video_link }}" target="_NEW">{{ videos[video_index].video_link }}</a></p>

								<div class="row" *ngIf="displayCityAdminVote">
									<div class="col-7 col-md-7 col-lg-7">
										<input type="text" class="form-control" placeholder="Insira aqui o número de votos do vídeo" [(ngModel)]="videos[video_index].current_city_admin_user_total_votes" >
									</div><!--col-->
									
									<div class="col-3 col-md-3 col-lg-3 text-center">
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-small" (click)="removeVideoVotes(video_index)">Apagar</button>
											<button type="button" class="btn btn-primary btn-small" (click)="saveCityGroupVote(video_index)">SALVAR</button>
										</div><!--btn-group-->
									</div><!--col-->
								</div><!--row-->

							</div><!--col-->
						</div><!--row-->
					</div><!--col-->
				</div><!--row-->
			</div><!--switchCase-->

			<div *ngSwitchCase="'secondTab'">

				<div *ngIf="displayCityAdminVote; ">
					<div class="row">
						<div class="col-6 col-md-6 col-lg-6">
							<p><strong>Vídeo vencedor na cidade de {{ videoWithMoreVotes.gang_phase.gang.city.name }}</strong></p>
							<iframe width="100%" height="350" [src]="videoWithMoreVotes.video_iframe_link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							<p>URL: {{ videoWithMoreVotes.video_link }}</p>
						</div><!--col-->
					</div><!--row-->
				</div><!--ngIf-->

				<div *ngIf="displayIntercementAdminVote">
					<div class="row">
						<div class="col-6 col-md-6 col-lg-6" *ngFor="let video of videosWithMoreVotesByCity">
							<p>
								<strong>{{ videoWithMoreVotes.gang_phase.gang.city.name }}</strong>
								<span class="alert alert-info" *ngIf="nationalVotingIsVideoWithMoreVotes(video)">VENDECOR <i class="fa fa-check"></i></span>
							</p>

							<iframe width="100%" height="350" [src]="video.video_iframe_link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							<p>URL: {{ video.video_link }}</p>
							<p>
								Votos: 
								<span *ngFor="let user of video.voter_user_votes; let i = index;">
									{{user.name}}<span *ngIf="i+1 < video.voter_user_votes.length">, </span>
								</span>
							</p>
						</div><!--col-->
					</div><!--row-->
				</div><!--ngIf-->

			</div><!--switchCase-->
		</div><!--ngSwitch-->




		<ng-template #voterView>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-12 mb-5">
					<div class="p-3 border border-dark">
						<h5>VOTAÇÃO NACIONAL - ORIENTAÇÕES</h5>
						<br />
						<p>Você vai encontrar abaixo uma lista com os 12 vídeos finalistas do concurso Geração Sustentável 2018.</p>
						<p>&bull; Escolha apenas 01 (um) vídeo que você mais gostou.</p>
						<p>&bull; Clique no botão <strong>VOTAR NESSE VÍDEO</strong> do vídeo para que seu voto seja computado.</p>
						<p>&bull; Em seguida, clique no botão <strong>ENVIAR VOTO</strong> no final da página para finalizar a votação - depois desse passo, não é possível voltar e alterar seu voto</p>
						<p>Obrigado, boa votação!</p>
					</div>
				</div><!--col-->
			</div><!--row-->

			<div class="row">
				<div class="col-6 col-md-6 col-lg-6 mb-3" *ngFor="let video of videosWithMoreVotesByCity">
					<div class="p-2 border border-dark">
						<iframe width="100%" height="350" [src]="video.video_iframe_link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<p>URL: {{ video.video_link }}</p>
						<button [ngClass]="{'btn': true, 'btn-sm': true, 'btn-outline-primary': true, 'active': video.id == currentVoterVoteOn}" (click)="voterVoteOn(video)">VOTAR NESSE VÍDEO</button>
					</div><!--p-2-->
				</div><!--col-->
			</div><!--row-->

			<div class="row mt-3">
				<div class="col-12 col-md-12 col-lg-12 text-center">
					<button type="button" class="btn btn-primary" (click)="sendVoterVote()" [disabled]="!isUserVoteThere">ENVIAR VOTO</button>
				</div><!--col-->
			</div><!--row-->
		</ng-template>

		

	</nb-card-body>
</nb-card>