/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
PREMIAÇÃO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

h1.premiacao{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size:30px;
  font-weight: 600;
  color:#E94151;
  text-align: center;
  width:400px;
  line-height: 35px;
  display:block;
  margin:0 auto;
}

.premiacao-text1{
  display: block;
  margin-top: 70px;
  text-align: justify;
}

.premiacao-text1 h2{
  width: 370px;
  height: 41px;
  background: #E94151;
  position: relative;
}

.premiacao-text1 h2 span{
  font-family: 'another_wet_shabby', Arial, sans-serif;
  font-size: 37px;
  font-weight: 600;
  color: #dedede;
  text-align: center;
  width: 400px;
  line-height: 30px;
  position: absolute;
  top: -23px;
  left: -16px;
}

.premiacao-text1 p{
  color:#333;
  font-size: 15px;
  line-height: 21px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 300;

  margin-top: 20px;
  width: 370px;

}

.premiacao-text1 p strong{
  font-weight: 700;
}

.premiacao-img1{
  background:url("../../../assets/images/premiacao/trio.png");
  width: 298px;
  height: 249px;
  display:block;
  background-size: contain;
  margin-top: 70px;
  background-repeat: no-repeat;
}

.premiacao-green-title{
  background:url("../../../assets/images/premiacao/green-splash.png");
  width: 238px;
  height: 58px;
  margin-bottom: 15px;
}

.premiacao-green-title span{
  color:#2D2691;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  width:107px;
  height:37px;
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

#premiacao-local-wrapper {
  padding-top:70px;
}

#premiacao-local-wrapper p{
  color:#333;
  font-size:15px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
  text-align: justify;

}

#premiacao-local-wrapper blockquote{
  color:#E94151;
  font-size:16px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 24px;
  border-left: 2px solid #E94151;
  padding-left:5px;
  text-align: justify;
  text-align: justify;
}

.premiacao-brazil-picture{
  background:url("../../../assets/images/premiacao/brazil.png");
  max-width: 171px;
  height: 158px;
  margin-top:140px;
}

.premiacao-girln1{
  background:url("../../../assets/images/premiacao/girln1.png");
  width: 394px;
  height: 258px;
  margin-top: 80px;
  position: relative;
  left: 40px;
}

#premiacao-nacional-wrapper{
  margin-top:40px;
}

#premiacao-nacional-wrapper p{
  color:#333;
  font-size:15px;
  font-weight: 300;
  font-family: 'blogger_sans', Arial, sans-serif;
  text-align: justify;

}

#premiacao-nacional-wrapper blockquote{
  color:#E94151;
  font-size:16px;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 24px;
  border-left: 2px solid #E94151;
  padding-left:5px;
  text-align: justify;
}

#premiacao-nacional-wrapper img{
  margin-top:-40px;
  margin-bottom: -70px;
  margin-left: 95px;
}

#premiacao-nacional-wrapper p.small{
  color:#333;
  font-size:12px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  font-family: 'blogger_sans', Arial, sans-serif;
}

.premiacao-prefooter{
  background: url("../../../assets/images/premiacao/prefooter.png");
  width:273px;
  height:121px;
  margin-left: 80px;
}

@media  screen and (max-width: 425px) {
  h1.premiacao{
    width:100%;
  }

  .premiacao-text1 h2{
    width:100%;
  }

  .premiacao-text1 h2 span{
    font-size:28px;
    top: -18px;
    left: 0px;
    width:100%;
  }

  .premiacao-img1 {
    height: 249px;
    display: block;
    background-size: contain;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    margin-bottom: 20px;
  }

  .premiacao-text1 p{
    width:100%
  }

  .premiacao-brazil-picture{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .premiacao-girln1{
    width: 260px;
    height: 210px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 30px auto 0px auto;
    left:0px;
  }

  #premiacao-nacional-wrapper img{
    width:100%;
    margin:0;
  }

  .premiacao-prefooter{
    height: 83px;
    margin-left: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
