<div id="premiacao">
	<div class="lightgrey-bg">
		<div class="container">
			<h1 class="premiacao">
				Premiação
			</h1>
			<div class="row">
				<div class="offset-md-2 col-md-4 premiacao-text1">
					<h2>
						<span>Quem pode ganhar?</span>
					</h2>
					<p>
						As equipes de jovens dos 8º e 9º anos que cumprirem com todas as etapas do concurso e se destacarem com seus vídeos e soluções
						criadas para vencer o problema.
						<br> Para ganhar é preciso permanecer unidos nos times até o final, cumprir e comprovar a realização de cada tarefa apresentada
						na seção Passos e ser criativo na elaboração das soluções e do vídeo para a ação final do concurso, que é compartilhar
						com a comunidade e trazer mais gente para o movimento
						<strong>#ChegaDeDoença!</strong>
					</p>
				</div>
				<div class="offset-md-1 col-md-3 premiacao-img1"></div>
			</div>
		</div>
	</div>

	<div class="darkgrey-bg ">
		<div class="container">
			<div class="row">
				<div class="offset-md-3 col-md-4" id="premiacao-local-wrapper">
					<div class="premiacao-green-title">
						<span>PREMIAÇÃO LOCAL</span>
					</div>
					<p>
						O Concurso Geração Sustentável vai premiar um grupo por município. Para o evento de premiação todos serão convidados, bem
						como demais envolvidos: diretores e coordenadores pedagógicos das escolas participantes, integrantes do CDC (Comitê
						de Desenvolvimento Comunitário) e profissionais da unidade fabril.
					</p>
					<p>
						Cada um dos integrantes da equipe vencedora receberá um Kit que será entregue no dia da premiação. Os que chegarem até a
						última etapa do Concurso, receberão certificados de participação.
					</p>

					<blockquote>
						OS VÍDEOS VENCEDORES, CORRESPONDENTES A CADA CIDADE PARTICIPANTE, SERÃO DIVULGADOS NO SITE DO CONCURSO GERAÇÃO SUSTENTÁVEL
						E CONCORRERÃO À PREMIAÇÃO NACIONAL.
					</blockquote>
				</div>

				<div class="offset-md-1 col-md-5 premiacao-brazil-picture"></div>
			</div>

			<div class="row">


				<div class="offset-md-1 offset-sm-0 premiacao-girln1"></div>

				<div class="offset-md-1 col-md-4" id="premiacao-nacional-wrapper">
					<div class="premiacao-green-title">
						<span>PREMIAÇÃO NACIONAL</span>
					</div>

					<p class="marginTop10">
						O vídeo mais votado pela Comissão Corporativa será o vencedor nacional e todos da equipe serão premiados com um SMARTPHONE.
					</p>

					<img src="../../assets/images/premiacao/smartphone_kid.png" />

				</div>
			</div>

			<div class="premiacao-prefooter"></div>


		</div>
	</div>
</div>