
/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
HOME
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


#home .clouds-wrapper{
  position:relative;
}

#home .cloud1{
  background-image: url("../../../assets/images/home/cloud1.png");
  width: 72px;
  height: 42px;
  position: absolute;
  top: 40px;
  left: 0px;
  display: block
}

#home .cloud2{
  background-image: url("../../../assets/images/home/cloud2.png");
  width: 103px;
  height: 57px;
  position: absolute;
  top: 50px;
  right: 160px;
  display: block;
}
.home-title-video{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  color:#fff;
  text-align: left;
 
}
.home-title-ganhadores-locais{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color:#fff;
  text-align: left;
}
.btn-subscribe:hover{
  text-decoration: none;
}
.home-title-ganhadores-locais .btn-subscribe{
  display: inline-block;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
  width: 200px;
}

.home-title{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  color:#fff;
  line-height: 42px;
  width:320px;
  padding-top:125px;
}

.home-left-text{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 400;
  color:#fff;
}

.home-left-text p.bigger, .home-tv p{
  font-family: 'blogger_sans', Arial, sans-serif;
  font-weight: 400;
  color:#fff;
  font-size: 20px;
  line-height: 22px;
  max-width: 385px;
  margin-top: 20px;
  text-align: left;
}
.home-left-text p.bigger img{
  float: right;
  margin-top: 12px;
  margin-right: -18px;
}

.home-left-text p{
  font-size:15px;
  line-height: 18px;
  padding-right: 8px;
  text-align: justify;
}

.home-tv{
  padding-top: 125px;
  /*background-image: url("../../../assets/images/home/tv.png");*/
  max-width: 645px;
  max-height: 452px;
  
  margin-left: 20px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  width:645px;
  height: 452px;
}
/*
.home-tv-embed{
  position: relative;
  top: 43px;
  left: -3px;
}

.home-tv img, .home-tv iframe, .home-tv object{
  width: 620px;
  height: 346px;
}
*/
.home-tv iframe,{
  border-color: #000;
  border-style: solid;
  border-width: 9px;
}

.home-subscribe-wrapper{
  margin-top:200px;
  display:block;
  width:100%;
}
.home-subscribe-wrapper p{
  text-align: center;
  font-family: 'blogger_sans', Arial, sans-serif;
  font-size:25px;
  font-weight: 500;
  color:#E94151;
  margin-top:85px;
}

.home-prefooter{
  background-image: url("../../../assets/images/home/prefooter.png");
  background-position: center center;
  width: 100%;
  height: 120px;
  margin-top: 70px;
}

@media  screen and (max-width: 768px) {
  
  .home-tv{
    width: 435px;
    height: 312px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /*
  .home-tv-embed{
    position: relative;
    top: 35px;
    left: -5px;
  }

  .home-tv img, .home-tv iframe, .home-tv object{
    width: 413px;
    height: 229px
  }
  */

}

@media  screen and (max-width:500px) {

  #home .cloud2{
    right: 5%;
  }

  .home-tv{
    width: 265px;
    height: 182px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
/*
  .home-tv-embed{
    position: relative;
    top: 20px;
    left: -5px;
  }

  .home-tv img, .home-tv iframe, .home-tv object{
    width: 247px;
    height: 135px;
  }
*/

}


