<div id="home" class="blue-bg">
	<div class="container">
		<div class="clouds-wrapper">
			<span class="cloud1"></span>
			<span class="cloud2"></span>
		</div>

		<div class="row">
			<div class="col-md-4 offset-md-1">
				<h1 class="home-title">
					Movimento #ChegaDeDoença
				</h1>

				<div class="home-left-text">
					<p class="bigger">
						<img src="../../assets/images/home/mosquito.png" /> Juntos pela proteção da natureza e o combate às doenças transmitidas por mosquitos.

					</p>

					<p style="margin-top: 55px;">
						Em 2018, o Brasil vive um surto de Febre Amarela, do tipo silvestre. Já foram confirmados casos no Distrito Federal, Rio
						de Janeiro, Minas Gerais e São Paulo.
					</p>

					<p>
						Isso mostra como o Geração Sustentável trata de um assunto super importante e que precisa ser combatido. Coloque toda a sua
						criatividade em prática e vamos ajudar o país!
					</p>

				</div>
			</div>
			
			<div class="home-tv col-md-7">
				<h1 class="home-title-video">
					Vencedor Nacional
				</h1>
				<div class="home-tv-embed">
					
					<iframe width="640" height="360" src="https://www.youtube.com/embed/QtJ6KDZ7vEk?rel=0" frameborder="0" allow="autoplay; encrypted-media"
					 allowfullscreen></iframe>
				</div>
				<div>
					<h1 class="home-title-ganhadores-locais">
						Ganhadores Locais 
						<a target="_NEW" href="https://www.youtube.com/playlist?list=PLCeWG7hBjU9lQ_j97LYolqunROeuUuNI4" class="button btn-subscribe">CONFIRA ></a>
					</h1>
					
				</div>
			</div>
		</div><div class="clear"></div>

		<div class="home-subscribe-wrapper">
			<a routerLink="/apresentacao" class="button btn-subscribe">SAIBA MAIS</a>
		</div>
	</div>
	<div class="home-prefooter"></div>
</div>