@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~@nebular/theme/components/card/card.component.theme';

@include nb-install-component() {
  .border-top{
    border-top: 1px solid #ebeef2;
  }
  .control-label{

  }
  .title{
    font-size: 1.6rem;

  }
  .sub-title{
    font-size: 1.2rem;
    color:#a4abb3;
    span {
      margin-left: 1rem;
    }
  }
  
  .container-btn{
    float:right;
  }
  .header-stats {
    float:left;
    display: flex;
    align-items: center;
  }
  .table-header {
    @include nb-card-header();
    font-size: 1.25rem;

    .subtitle {
      color: nb-theme(color-fg);
      font-family: nb-theme(font-main);
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);

    }
  }
  .stats-block {

    align-items: left;
    color: nb-theme(color-fg);
    padding: 0 1.5rem;
    border-right: 1px solid nb-theme(separator);

    .subtitle {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }

    .value {
      font-family: nb-theme(font-secondary);
      font-size: 1.5rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
    }

    .unit {
      font-family: nb-theme(font-secondary);
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-light);
    }
  }
}
