<nb-card>
	<nb-card-header>
		<div class="title">Grupo: {{ gang?.name }}
			<button class="btn btn-hero-info btn-sm pull-right" (click)="editGang($event)">
				<i class="fa fa-edit"></i>
			</button>
		</div>
		<div class="sub-title">Cidade: {{gang?.city?.name}} - {{gang?.city?.state}}
			<span>Escola: {{gang?.school}}</span>
		</div>

	</nb-card-header>
</nb-card>
<div class="">
	<h3>Integrantes
	<button style="float:right" class="btn btn-tn btn-hero-success" (click)="addUser()" *ngIf="user.is_staff || currentGroup == 1">
		<i class="fa fa-plus"></i> Novo Integrante</button>
	</h3>
</div>
<div class="row">
	<div class="col-md-4" *ngFor="let u of users">
		<nb-card>
			<nb-card-body>
				Nome: {{u?.name}}
				<br/> Email: {{u?.email}}
				<br/> RG: {{u?.rg}}
				<br/> Telefone: {{u.phone}}
				<br/> Data de nascimento: {{printDate(u.birthday)}}
				<br/>
				<strong *ngIf="u.gang_leader">
					Lider
					<i class="fa fa-check"></i>
				</strong>
				<strong *ngIf="!u.gang_leader">
					<i class="fa fa-user"></i>
				</strong>
			</nb-card-body>
			<nb-card-footer>
				<nb-actions class="pull-right">
					<nb-action>
						<button class="btn btn-tn btn-hero-primary" (click)="editUser(u)">
							<i class="fa fa-edit"></i> Editar</button>
						<button style="margin-left: 10px;" class="btn btn-tn btn-hero-danger" (click)="deleteUser(u)" *ngIf="user.is_staff || currentGroup == 1">
								<i class="fa fa-trash"></i> Remover</button>
					</nb-action>

				</nb-actions>

			</nb-card-footer>
		</nb-card>
	</div>
</div>
<div *ngIf="user.is_staff || currentGroup == 1 || currentGroup ==3">
	<h3>Material Enviado</h3>
	<nb-card class="col-md-12" *ngFor="let phase of phases">
		<nb-card-header>
			<div class="header-stats">
				<div class="stats-block">
					<div>
						<span class="value">{{phase?.phase?.name}}</span>
					</div>
					<div class="subtitle">{{phase?.phase?.status}}</div>
				</div>
				<div class="stats-block">
					<div class="subtitle">Data Início</div>
					<div>
						<span class="value">{{printDate(phase?.phase?.start_at)}}</span>
					</div>
				</div>
				<div class="stats-block">
					<div class="subtitle">Data Término</div>
					<div>
						<span class="value">{{printDate(phase?.phase?.end_at)}}</span>
					</div>
				</div>
			</div>
		</nb-card-header>
		<nb-card-body class="border-top" *ngFor="let deliverable of phase?.phase?.deliverable">
			<strong>{{deliverable.name}}</strong>
			<div class="row" *ngFor="let file of deliverable?.files">
				<div class="col-md-8" *ngIf="file?.uploaded?.id">
					<p>{{file.name}}</p>
				</div>
				<div class="col-md-4" *ngIf="file?.uploaded?.id">
					<p>Data do Upload</p>
				</div>

				<div class="col-md-8" *ngIf="file?.uploaded?.id">
					<a target="_blank" href="{{file?.uploaded?.file}}" *ngIf="file.allowed_content_types !== 'videos'">
						<i class="fa fa-file-word-o fa-2x" *ngIf="file.allowed_content_types === 'documents'"></i>
						<i class="fa fa-file-image-o fa-2x" *ngIf="file.allowed_content_types === 'images'"></i>
						<i class="fa fa-file-archive-o fa-2x" *ngIf="file.allowed_content_types === 'zip'"></i>
						{{file?.uploaded?.name}}
					</a>
					<span *ngIf="file.allowed_content_types === 'videos'">
						URL: {{file?.uploaded?.video_link}}
					</span>
				</div>
				<div class="col-md-4" *ngIf="file?.uploaded?.id">
					{{printCreatedDate(file?.uploaded?.created)}}
				</div>
				<div class="col-md-12" *ngIf="file?.uploaded?.id && file.allowed_content_types === 'videos'">
					<iframe width="560" height="315" [src]="file?.uploaded?.video_iframe_link" frameborder="0" allow="autoplay; encrypted-media"
					 allowfullscreen></iframe>
				</div>

				<div class="col-md-12" *ngIf="!file?.uploaded">
					Aguardando Envio!
				</div>
			</div>

		</nb-card-body>
	</nb-card>
</div>