@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
	.cover {
		border-radius: nb-theme(radius) / 2;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 10rem;
		height: 10rem;
		margin: auto;
	}
	.image-container{
		margin:auto;
		text-align:center;
	}
}

