<nb-card>
	<nb-card-header>Grupos
		<a [href]="downloadReportLink" target="new" style="color:#ffffff" class="pull-right btn btn-sm btn-hero-success" download="relatorio.xls">
			<i class="fa fa-download"></i> Download Relatório
		</a>
	</nb-card-header>

	<nb-card-body>
		<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)" (create)="createNewEntryButtonClickListener()"
		 (edit)="editEntryButtonClickListener($event)" (delete)="deleteEntryButtonListener($event)">
		</ng2-smart-table>
	</nb-card-body>
</nb-card>