@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~@nebular/theme/components/card/card.component.theme';

@include nb-install-component() {
  .border-gray {
    border-top: 1px solid #ebeef2;
    margin: auto;
    padding-top: 1rem;
  }

  .input-group .mce-container {
    width: 100% !important;
  }

  ckeditor {
    width: 100% !important;
  }
}
  
