<nb-card>
	<nb-card-header>{{ this.phase.id ? 'Editar Fase' : 'Nova Fase'}}</nb-card-header>

	<nb-card-body>

		<form [formGroup]="form" (ngSubmit)="onSubmit()" [formValidation]="form">

			<div class="row">
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="name" class="form-control-label">Nome</label>
						<input type="text" class="form-control" placeholder="Nome" name="name" formControlName="name" />
					</div>
					<div validationMessages="name">
						<small class="form-text error" validationType="required">Nome é obrigatório</small>
						<small class="form-text error" validationType="minlength">Nome Inválido</small>
					</div>

				</div>
				<!--col-->


				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="start_at" class="form-control-label">Data Início</label>
						<div class="input-group">
							<input class="form-control" placeholder="dd/mm/yyy" name="start_at" formControlName="start_at" ngbDatepicker #s="ngbDatepicker">
							<div class="input-group-btn">
								<button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</div>
						</div>
					</div>

					<div validationMessages="start_at">
						<small class="form-text error" validationType="required">Data de Início é obrigatórioa</small>
						<small class="form-text error" validationType="minlength">Data de Início Inválida</small>
					</div>
				</div>
				<!--col-->


				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="end_at" class="form-control-label">Data Término</label>
						<div class="input-group">
							<input class="form-control" placeholder="dd/mm/yyy" name="end_at" formControlName="end_at" ngbDatepicker #d="ngbDatepicker">
							<div class="input-group-btn">
								<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</div>
						</div>
					</div>
					<div validationMessages="end_at">
						<small class="form-text error" validationType="required">Data de Término é obrigatória</small>
						<small class="form-text error" validationType="minlength">Data de Término Inválida</small>
					</div>
				</div>
				<!--col-->

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="state" class="form-control-label">Depende de Fase</label>
						<select class="form-control" name='state' formControlName="phase_depends">
							<option value="null">--- FASES --</option>
							<option *ngFor="let p of allPhases" value="{{p.id}}">{{p.name}}</option>
						</select>
					</div>
				</div>
				<!--col-->

				<div class="col-12 col-md-12 col-lg-12">
					<div class="form-group">
						<label for="end_at" class="form-control-label">Instruções</label>
						<div class="input-group">
							<ckeditor [config]="{ language: 'pt-br', extraPlugins: 'divarea', height: '320', width: '100%' }" name="instructions" formControlName="instructions"></ckeditor>
						</div>
					</div>
				</div>
				<!--col-->
			</div>
			<!--row-->

			<div class="row">
				<div class="col-12 mb-2">
					<h5 class="float-left">Material a ser enviado</h5>
					<button class="btn btn-primary btn-round pull-right" type="button" (click)="createNewDeliverable()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
				<!--col-->
			</div>
			<!--row-->

			<div class="row">
				<div class="col-12 col-md-12 col-lg-12 mb-3" *ngFor="let deliverable of form.controls['deliverable'].controls; let i=index;">
					<div class="row border border-dark rounded p-1">
						<div class="col-12 col-md-12 col-lg-12">
							<p>
								<strong>Material </strong> #{{ i+1 }}
								<button class="btn btn-danger btn-round btn-sm pull-right" type="button" (click)="removeDeliverable(i)">
									<i class="fa fa-times"></i>
								</button>
						</div>
						<!--col-->

						<div class="col-12 col-md-12 col-lg-12">
							<div class="form-group">
								<label for="name" class="form-control-label">Nome</label>
								<input type="text" class="form-control" placeholder="Nome" name="name" [formControl]="deliverable.get('name')">
							</div>
							<!--form-group-->
						</div>
						<!--col-->

						<div class="col-12 col-md-12 col-lg-12">
							<div class="form-group">
								<label for="deliverable" class="form-control-label">Descrição</label>
								<textarea rows="6" type="text" class="form-control" placeholder="Descrição" name="description" [formControl]="deliverable.get('description')"></textarea>
							</div>
							<!--form-group-->
						</div>
						<!--col-->

						<div class="col-12 col-12">
							<h5 class="float-left">Arquivos do Material</h5>
							<button class="btn btn-primary btn-round pull-right" type="button" (click)="createNewFile(i)">
								<i class="fa fa-plus"></i>
							</button>
						</div>
						<!--col-->

						<div class="col-12 col-md-12 col-lg-12 row border-gray" *ngFor="let file of deliverable.controls['files'].controls; let j=index;">
							<div class="col-12 col-md-12 col-lg-12">
								<p>
									<strong>Arquivo </strong> #{{ j+1 }}</p>
								<button class="btn btn-danger btn-round btn-sm pull-right" type="button" (click)="removeFile(i,j)">
									<i class="fa fa-times"></i>
								</button>
							</div>
							<!--col-->


							<div class="col-12 col-md-12 col-lg-12">
								<div class="form-group">
									<label for="name" class="form-control-label">Nome</label>
									<input type="text" class="form-control" placeholder="Nome" name="name" [formControl]="file.get('name')">
								</div>
								<!--form-group-->
							</div>
							<!--col-->

							<div class="col-4 col-md-4 col-lg-4">
								<div class="form-group">
									<label for="sample" class="form-control-label">Arquivo de exemplo
										<small>(deixe em branco para não atualizar)</small>
										<span *ngIf="phase?.deliverable[i]?.files[j]?.sample">
											<a href="{{phase.deliverable[i].files[j].sample}}" target="new" download><i class="fa fa-download"></i></a>
											
										</span>
									</label>
									<input type="hidden" name="sample" [formControl]="file.get('sample')" />
									<input type="file" class="form-control" placeholder="Exemplo" name="sample" (change)="onFileChange($event, i, j)">
									
									
									
								</div>
								<!--form-group-->
							</div>
							<!--col-->

							<div class="col-4 col-md-4 col-lg-4">
								<div class="form-group">
									<label for="allowed_content_types" class="form-control-label">Tipos de arquivos permitidos</label>
									<select class="form-control" name="allowed_content_types" [formControl]="file.get('allowed_content_types')">
										<option *ngFor="let type of deliverableAllowedContentTypes;" value="{{ type[0] }}"> {{ type[1] }}
										</option>
									</select>
								</div>
								<!--form-group-->
							</div>
							<!--col-->
							<div class="col-4 col-md-4 col-lg-4">
								<div class="form-group">
									<label for="votable" class="form-control-label">Votavel?</label>
									<select class="form-control" name="votable" [formControl]="file.get('votable')">
										<option value="true">SIM</option>
										<option value="false">NÃO</option>
									</select>
								</div>
								<!--form-group-->
							</div>
							<!--col-->

						</div>


					</div>
					<!--row border-->
				</div>
				<!--col-->
			</div>
			<!--row-->

			<div class="row">
				<div class="col-12">
					<button class="btn btn-hero-success btn-block" type="submit" (click)="onSubmit()" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
						<span *ngIf="!submitted">Salvar</span>
						<span *ngIf="submitted">Enviando...
							<i class="fa fa-spinner fa-pulse"></i>
						</span>
					</button>
				</div>
				<!--col-->
			</div>
			<!--row-->
		</form>

	</nb-card-body>
</nb-card>