<nb-card>
	<nb-card-header>{{ this.user.id ? 'Editando Usuário' : 'Novo Usuário'}}</nb-card-header>

	<nb-card-body>

		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<input type="text" class="form-control" placeholder="ID" formControlName="id" style="display: none;" />

			<div class="row">

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="name" class="form-control-label">Nome</label>
						<input type="text" class="form-control" placeholder="Nome" name="name" formControlName="name" />
					</div>
					<!--form-group-->
				</div>
				<!--col-->
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="username" class="form-control-label">Username</label>
						<input type="text" class="form-control" placeholder="Username" name="username" formControlName="username" />
					</div>
					<!--form-group-->
				</div>
				<!--col-->
				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="email" class="form-control-label">Email</label>
						<input type="text" class="form-control" placeholder="Email" name="email" formControlName="email" />
					</div>
					<!--form-group-->
				</div>

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="end_at" class="form-control-label">Data de Nascimento</label>
						<div class="input-group">
							<input class="form-control" placeholder="dd/mm/yyyy" name="birthday" formControlName="birthday" ngbDatepicker #d="ngbDatepicker">
							<div class="input-group-btn">
								<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="password" class="form-control-label">Senha</label>
						<input type="text" class="form-control" placeholder="Senha" name="password" type="password" formControlName="password" />
					</div>
					<!--form-group-->
				</div>

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="rg" class="form-control-label">RG</label>
						<input type="text" class="form-control" placeholder="RG" name="rg" formControlName="rg" />
					</div>
					<!--form-group-->
				</div>

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="cpf" class="form-control-label">CPF</label>
						<input type="text" class="form-control" placeholder="CPF" name="cpf" formControlName="cpf" />
					</div>
					<!--form-group-->
				</div>

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="phone" class="form-control-label">Telefone</label>
						<input type="text" class="form-control" placeholder="Telefone" name="phone" formControlName="phone" />
					</div>
					<!--form-group-->
				</div>

				<div class="col-12 col-md-4 col-lg-4" *ngIf="currentUser.is_staff || currentGroup == 1">
					<div class="form-group">
						<label for="gang" class="form-control-label">Grupo</label>
						<select class="form-control" placeholder="Grupo" formControlName="gang" name="gang">
							<option value="null">--- SELECIONAR GRUPO --</option>
							<option *ngFor="let gang of allGangs" value="{{gang?.id}}">{{gang?.name}} | {{gang?.school}} ({{gang?.city?.name}} - {{gang?.city?.state}})</option>
						</select>
					</div>
				</div>

				<div class="col-12 col-md-4 col-lg-4" *ngIf="currentUser.is_staff || currentGroup == 1">
					<div class="form-group">
						<label for="city" class="form-control-label">Cidade</label>
						<select class="form-control" placeholder="Cidade" formControlName="city" name="city">
							<option value="null">--- SELECIONAR Cidade --</option>
							<option *ngFor="let city of cities" value="{{city?.id}}">{{city?.name}} - {{city?.state}}</option>
						</select>
					</div>
				</div>

				<div class="col-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="term" class="form-control-label">Termo de Responsabilidade</label>
						<input type="file" name="term" (change)="setUserTermFile($event)">
					</div>
					<!--form-group-->
				</div>

				<div class="col-12 col-md-4 col-lg-4" *ngIf="user.term">
					<div class="form-group">
						<label>Termo de Responsabilidade Cadastrado <button class="btn btn-hero-danger btn-tn" type="button" (click)="removeUserTerm()">Remover</button></label>
						<br />
						<a [attr.href]="user.term" target="_new">
							<i class="fa fa-file fa-4x"></i>
						</a>
					</div>
				</div>

			</div>
			<!--row-->

			<div class="row">
				<div class="col-12 col-md-4 col-lg-4" *ngIf="currentUser.is_staff">
					<nb-checkbox formControlName="is_staff">Usuário Administrador Geral</nb-checkbox>
				</div>
				<div class="col-12 col-md-4 col-lg-4" *ngIf="currentUser.is_staff || currentGroup == 1">
					<nb-checkbox formControlName="gang_leader">Lider de Equipe?</nb-checkbox>
				</div>
				<div class="col-12 col-md-4 col-lg-4" *ngIf="currentUser.is_staff || currentGroup == 1">
					<nb-checkbox formControlName="is_active">Ativo?</nb-checkbox>
				</div>
			</div>
			<!--row-->

			<br>
			<br>

			<div class="row" *ngIf="currentUser.is_staff || currentGroup == 1">
				<div class="col-12">
					<h5>Grupo de Tipo de Usuário</h5>
				</div>
				<!--col-->
			</div>
			<!--row-->


			<div class="row" *ngIf="currentUser.is_staff || currentGroup == 1">
				<div *ngFor="let group of allGroups; let i=index;" class="col-4 col-md-3 col-lg-3">
					<nb-checkbox [formControl]="form.get(['groups', i])" *ngIf="form.get('groups').length > 0" value="{{group?.id}}"> {{ group.name }} </nb-checkbox>
				</div>
				<!--col-->

			</div>
			<!--row-->

			<br>
			<br>

			<div class="row">
				<div class="col-12">
					<button class="btn btn-hero-success btn-block" type="submit" (click)="onSubmit()" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
						<span *ngIf="!submitted">Salvar</span>
						<span *ngIf="submitted">Enviando...
							<i class="fa fa-spinner fa-pulse"></i>
						</span>
					</button>
				</div>
			</div>
			<!--row-->

			<br>

		</form>

	</nb-card-body>
</nb-card>